<template>

    <div class="col-md-8">
      <div class="row">
        <div class="col-md-12">
          <div class="">
            <div class="w-body">
              <h3 class="proceso_compra__title">INFORMACIÓN DE CONTACTO</h3>
              <form method='POST' action="" @submit.prevent='nextPaso2()' class="form-horizontal form-checkout form-checkout-1">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 mb-1">
                        <input type="email" placeholder="Correo" v-validate="'required|email'" name='email' v-model='client.user.email' class="form-control">
                        <span class='text-danger'> {{ errors.first('email') }}</span>
                    </div>
                    <div class="col-xs-12 col-sm-6 mb-1">
                        <input placeholder="Celular" v-validate="'required'" name='phone' type="text" class="form-control" v-model='client.customer.phone'>
                        <span class='text-danger'> {{ errors.first('phone') }}</span>
                    </div>
                    <div class="col-xs-12 col-sm-6 mb-1">
                        <input placeholder="Nombres" v-validate="'required'" name='first_name' type="text" class="form-control" v-model='client.user.first_name'>
                        <span class='text-danger'> {{ errors.first('first_name') }}</span>
                    </div>
                    <div class="col-xs-12 col-sm-6 mb-1">
                        <input placeholder="Apellidos" v-validate="'required'" name='last_name' type="text" class="form-control" v-model='client.user.last_name'>
                        <span class='text-danger'> {{ errors.first('last_name') }}</span>
                    </div>
                    <div class="col-xs-12 col-sm-6 mb-1">
                        <select  name="type_document"  v-validate="'required'" id="" class='form-control' v-model='client.customer.type_document'>
                          <option value="">Seleccione Tipo de documento</option>
                          <option :value="type_document.value" v-for='type_document in type_documents'>{{type_document.name}}
                          </option>
                        </select>
                        <span class='text-danger'> {{ errors.first('type_document') }}</span>
                    </div>
                    <div class="col-xs-12 col-sm-6 mb-1">
                        <input placeholder="Documento" type="text" name='document'  v-validate="'required'" class="form-control" v-model='client.customer.document'>
                        <span class='text-danger'> {{ errors.first('document') }}</span>
                    </div>
                    <div class="col-xs-12">
                        <a href="/carro-compras/" class='proceso_compra__back'>< Retornar al carro de compras</a>
                        <button class="btn  btn--dark pull-right">Continuar</button>
                    </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
</template>
<script>
  export default {
    name: 'checkoutPaso1',
    data () {
      return {
        client: {
          customer: {
            phone: '',
            type_document: '',
            document: ''
          },
          user: {
            email: '',
            first_name: '',
            last_name: ''
          }
        },
        type_documents: [
          {
            value: 'DNI',
            name: 'Dni'
          },
          {
            value: 'CE',
            name: 'CE'
          }
        ]
      }
    },

    created () {
      this.$emit('paso', 'paso-1')
      if (!this.$cookie.get('paso')) {
        this.$cookie.set('paso', 1)
      }
      if (this.$cookie.get('customer')) {
        this.client = JSON.parse(this.$cookie.get('customer'))
      } else {
        this.getCustomer()
      }
    },
    methods: {
      getCustomer () {
        const self = this
        this.axios({
          method: 'get',
          url: '/api/order-customer/',
        }).then(response => {
          self.client.customer = response.data.customer
          self.client.user = response.data.user
        }).catch(error => {
        })
      },
      nextPaso2 () {
        const self = this
        self.$validator.validateAll().then((result) => {
          if (result) {
            console.log(self.client)
            self.$cookie.set('customer', JSON.stringify(self.client))
            if (self.$cookie.get('paso') >= 2) {

            } else {
              self.$cookie.set('paso', 2)
            }
            self.$router.push({'name': 'checkout_paso_2'})

          }
        })
      }
    }
  }
</script>