<template>
  <section class="main checkout ">
<!--     <div class="container">
        <div class="row">
          <div class="col-md-4 col-md-offset-4">
            <h3 class='text-center proceso_compra_title'>Proceso de Compra</h3>
          </div>
        </div>
        <div class="row row-pasos">
          <div class="col-md-3">
            <div class="checkout__paso text-center" >
              <div class="checkout__paso__title">
                <h4>Datos del cliente</h4>
              </div>
              <div class="checkout__paso__circle text-center checkout__paso__circle--active">

              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="checkout__paso text-center" >
              <div class="checkout__paso__title">
                <h4>Datos de énvio</h4>
              </div>
              <div class="checkout__paso__circle text-center" :class='getPasoClass("", "paso-2", "paso-3")'>

              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="checkout__paso text-center" >
              <div class="checkout__paso__title">
                <h4>Metodo de pago</h4>
              </div>
              <div class="checkout__paso__circle text-center" :class='getPasoClass("", "", "paso-3")'>

              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="checkout__paso text-center" >
              <div class="checkout__paso__title">
                <h4>Gracias por su compra</h4>
              </div>
              <div class="checkout__paso__circle text-center">

              </div>
            </div>
          </div>
        </div>
    </div> -->
    <div class="container">
      <div class="row">
        <router-view v-on:paso='setPaso' v-on:shippingCostTotal='shippingCostTotal'></router-view>
        <div class="col-md-4">
          <div class="">
            <div class="box-items">

              <div class="item-car" v-for='item in cart.cart_items'>
                <div class="item">
                  <div class="image">

                      <img :src="item.image"  height="">
                  </div>
                </div>
                <div class="detail">
                  <strong>{{item.brand_name}}</strong>
                  <h6>{{item.product_name}}</h6>
                  <div><span class='price_unidad'>cantidad: S/{{item.quantity}}</span></div>
                  <div><span class='price_unidad'>Precio x unidad: S/{{item.product_price}}</span><span class='pull-right'> S/{{item.cart_item_total}}</span></div>
                </div>
              </div>

            </div>
            <div class="totals">
              <div class="blo-coupon">
                <label for="">Ingrese Cupón</label>
                <div class="form-group form-coupon">
                    <input type="text" class="form-control" id="coupon" placeholder="">
                    <div class="btn btn--dark btn-coupon">Validar</div>
                </div>
              </div>
              <div class="msj-coupon">
                <p class='text-danger'></p>
              </div>
              <div class="subtotal"> <span class="title-s">Subtotal: </span><strong>S/. <span class='subTotal' ></span> {{toFixed(subTotal)}}     </strong></div>
              <div class="subtotal"> <span class="title-s">Descuento: </span><strong>S/. <span class='descuento'> </span>  {{toFixed(descuento)}}             </strong></div>
              <div class="subtotal"> <span class="title-s">Costo envio: </span><strong>S/. <span class='shipping_price'>
                </span>{{toFixed(shippingCost)}} </strong>
              </div>
              <div class="total">
                <span class="title-s">Total: </span>
                <strong>S/.
                  <span class='totalPrice'>
                  </span>{{getTotal}}</strong>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </section>

</template>
<script>
  export default {
    name: 'checkout',
    data () {
      return {
        paso: 'paso-1',
        cart: [],
        subTotal: 0,
        descuento: 0,
        shippingCost: 0
      }
    },
    created () {
      console.log('test')
      const self = this
      if (this.$cookie.get('shippingCost')) {
        var shippingCost = JSON.parse(this.$cookie.get('shippingCost'))
        var total = 0
        for(var x in shippingCost) {
          total = total + parseFloat(shippingCost[x]['price'])
        }
        self.shippingCost = total
      }
      this.getCart()
    },
    methods: {
      toFixed(value) {
        return parseFloat(value).toFixed(2)
      },
      getPasoClass (paso1, paso2, paso3) {
        if (this.paso === paso1 || this.paso === paso2 || this.paso === paso3) {
          return 'checkout__paso__circle--active'
        }
        return ''
      },
      setPaso (paso) {
        this.paso = paso
      },
      getCart () {
        const self = this
        this.axios({
          method: 'get',
          url: '/api/cart/',
        }).then(response => {
          self.cart = response.data
          self.subTotal = response.data.total
        }).catch(error => {
        })
      },
      shippingCostTotal (value) {
        this.shippingCost = value
      }
    },
    computed: {
      getTotal () {
        let total = parseFloat(this.subTotal) + parseFloat(this.descuento) + parseFloat(this.shippingCost)
        return total.toFixed(2)
      }
    }
  }
</script>
<style>
  .row-pasos{
    margin-bottom: 30px;
  }
  .proceso_compra_title{
    margin-bottom: 30px;
  }
  .checkout__paso__circle{
    width: 30px;
    height: 30px;
    border-radius:50%;
    border:1px solid black;
    display: inline-block;
  }
  .checkout__paso__circle--active{
    background: #ff7e00;
  }
  .checkout__paso__title{
    margin-bottom: 10px;
  }
  .mb-1{
    margin-bottom: 10px;
  }
  .mb-2{
    margin-bottom: 20px;
  }
  .mt-2{
    margin-top: 20px;
  }
  .price_unidad{
    font-size: 13px;
  }
  .item-car .item{
    width: 80px;
  }
  .text-danger{
    height: 13px;
    display: block;
    font-size: 12px;
    color: #ff0500;
  }
</style>