<template>
  <div class="col-md-8">
    <div class="row">
      <div class="col-md-12">
        <div class="">
          <div class="w-body">
            <h3 class="proceso_compra__title">RESUMEN DE LA COMPRA</h3>
            <div class="form-horizontal form-checkout form-checkout-1">
              <div class="row mb-1">
                <div class="col-xs-12">
                    <h4><strong>DATOS DEL CLIENTE</strong></h4>
                </div>
              </div>
              <div class="row">
                  <div class="col-xs-12 col-sm-6">
                      <label for="">Correo</label>
                      <p>{{client.user.email}}</p>
                  </div>
                  <div class="col-xs-12 col-sm-6">
                      <label for="">Celular</label>
                      <p>{{client.customer.phone}}</p>
                  </div>
                  <div class="col-xs-12 col-sm-6">
                      <label for="">Nombres</label>
                      <p>{{client.user.first_name}}</p>
                  </div>
                  <div class="col-xs-12 col-sm-6">
                      <label for="">Apellidos</label>
                      <p>{{client.user.last_name}}</p>
                  </div>
                  <div class="col-xs-12 col-sm-6">
                      <label for="">Tipo de documento</label>
                      <p>{{client.customer.type_document}}</p>
                  </div>
                  <div class="col-xs-12 col-sm-6">
                      <label for="">Documento</label>
                      <p>{{client.customer.document}}</p>
                  </div>
              </div>
              <div class="row">
                <div class="col-xs-12 row_separated" ></div>
              </div>
              <div class="row mt-2 mb-1">
                <div class="col-xs-12">
                    <h4><strong>DATOS DE ENVIO</strong></h4>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12 col-sm-4 mb-1">
                    <label for="">Nombres</label>
                    <p>{{shipping.first_name}}</p>
                </div>
                <div class="col-xs-12 col-sm-4 mb-1">
                    <label for="">Apellidos</label>
                    <p>{{shipping.last_name}}</p>
                </div>
                <div class="col-xs-12 col-sm-4 mb-1">
                    <label for="">Tipo de dirección</label>
                    <p>{{shipping.type_address}}</p>
                </div>

                <div class="col-xs-12 col-sm-4 mb-1">
                    <label for="">Ubicación</label>
                    <p>{{ubigeoFullName}}</p>
                </div>
                 <div class="col-xs-12 col-sm-4 mb-1">
                    <label for="">Dirección</label>
                    <p>{{shipping.address}}</p>
                </div>
                <div class="col-xs-12 col-sm-4 mb-1">
                    <label for="">Referencia</label>
                    <p>{{shipping.reference}}</p>
                </div>
                <div class="col-xs-12 col-sm-4 mb-1">
                    <label for="">Celular</label>
                    <p>{{shipping.phone}}</p>
                </div>
                <div class="col-xs-12 col-sm-4 mb-1">
                    <label for="">Tipo documento</label>
                    <p>{{shipping.type_document}}</p>
                </div>
                <div class="col-xs-12 col-sm-4 mb-1">
                    <label for="">Documento</label>
                    <p>{{shipping.document}}</p>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="">
          <div class="w-body">
            <h3 class="proceso_compra__title">METODO DE PAGO</h3>
              <form action="" method="POST" @submit.prevent='createToken()' class=' form-horizontal form-checkout form-checkout-1' id="culqi-card-form">
                <div class="row">
                  <div class="col-xs-12 col-sm-12 mb-1">
                      <label for="">Correo Electrónico</label>
                      <input v-validate="'required'" maxlength='16' type="text" class="form-control" id="card[email]" name="email" data-culqi="card[email]" v-model='card.email'>
                      <span class='text-danger'> {{ errors.first('email') }}</span>
                  </div>
                  <div class="col-xs-12 col-sm-12 mb-1">
                      <label for="">Número de tarjeta</label>
                      <input v-validate="'required|credit_card'" name='number_tarjeta'  type="text" class="form-control"  data-culqi="card[number]" id="card[number]" v-model='card.card_number'>
                      <span class='text-danger'  v-show="errors.has('number_tarjeta')"> {{ errors.first('number_tarjeta') }} Número de tarjeta invalido</span>
                  </div>
                  <div class="col-xs-4 col-sm-4 mb-1">
                    <label for="">Mes de vencimiento</label>
                    <input v-validate="{ required: true, digits: 2 }"  placeholder="MM" name='mes_vencimiento'  maxlength='2' type="text" class="form-control" data-culqi="card[exp_month]" id="card[exp_month]" v-model='card.expiration_month'>
                    <span class='text-danger'  v-show="errors.has('mes_vencimiento')">  El campo es invalido</span>
                  </div>
                  <div class="col-xs-4 col-sm-4 mb-1">
                    <label for="">Año de vencimiento</label>
                    <input v-validate="{ required: true, digits: 4 }" name='anio_vencimiento' placeholder="AAAA"  maxlength='4'  type="text" class="form-control" data-culqi='card[exp_year]' id='card[exp_year]'>
                    <span class='text-danger' v-model='card.expiration_year' v-show="errors.has('anio_vencimiento')"> El campo es invalido</span>
                  </div>
                  <div class="col-xs-4 col-sm-4 mb-1">
                    <label for="">CVV</label>
                    <input v-validate="{ required: true, digits: 3 }" name='cvc' placeholder="CVV" type="text" maxlength='3' class="form-control" data-culqi='card[cvv]' id='card[cvv]' v-model='card.cvv'>
                    <span class='text-danger' v-show="errors.has('cvc')">El campo es invalido</span>
                  </div>
                  <div class="col-xs-12 col-sm-12 mb-1">
                    <label for="">
                      <input type="checkbox" name='terms' v-validate="'required'" id='terminos_condiciones'> <a href="/terminos-condiciones" target='_blank'>Acepto terminos y condiciones</a>
                    </label>
                    <span class='text-danger' v-show="errors.has('terms')">Debe aceptar terminos y condiciones</span>
                  </div>
                  <div class="col-xs-12 col-sm-12" v-if='getErrorCulqi.user_message'>
                    <p class='text-danger'>{{getErrorCulqi.user_message}}</p>
                  </div>
                  <div class="col-xs-12 col-sm-12" v-if='error_message'>
                    <p class='text-danger'>{{error_message}}</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="w-lnk-btn">
                      <router-link class='lnk proceso_compra__back' :to='{name: "checkout_paso_1"}'><i class="fa fa-angle-left"></i>Atras</router-link>
                      <button type="submit" id="pagar" class="btn btn--dark">Pagar</button>
                    </div>
                  </div>
                </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div id="modal-container" :class='classModalContainer'>
      <div class="modal-background">
        <div class="modal">
          <h4 class='procesando'>Procesando su Pago</h4>
          <img :src="static_logo" alt="" class='logo_culqui'>
          <svg class="modal-svg" xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" preserveAspectRatio="none">
              <rect x="0" y="0" fill="none" width="100%" height="100%" rx="3" ry="3"></rect>
            </svg>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
  import { mapGetters } from 'vuex'
  import culquiUtil from '@/utils/culqui'
  export default {
    name: 'checkoutPaso3',
    data () {
      return {
        error_message: '',
        client: {
          customer: {
            phone: '',
            type_document: '',
            document: ''
          },
          user: {
            email: '',
            first_name: '',
            last_name: ''
          }
        },
        shipping: {
          first_name: '',
          last_name: '',
          type_address: '',
          address: '',
          reference: '',
          phone: '',
          ubigeo: '',
          departamento: '',
          provincia: '',
          type_document: '',
          document: ''
        },
        ubigeoFullName: '',
        card: {
          card_number: '',
          cvv: '',
          expiration_month: '',
          expiration_year: '',
          email: ''
        },
        culqui: '',
        static_logo: '',
        classModalContainer: ''
      }
    },
    created () {
      let paso = this.$cookie.get('paso')
      if (paso < 3) {
        this.$router.push({'name': 'checkout_paso_2'})
      }
      this.client = JSON.parse(this.$cookie.get('customer'))
      this.shipping = JSON.parse(this.$cookie.get('shipping'))
      this.getUbigeoFullName()
      this.$emit('paso', 'paso-3')
      this.static_logo = static_logo
      console.log(publicKey, 'publicKey')
        // Culqi.publicKey = publicKey
      // Culqi.init();
        // this.culqui = Culqi
        // this.culqui.publicKey = publicKey
        // this.culqui.init();
    },
    mounted () {
      // Culqi.publicKey = publicKey
      // Culqi.init();
      this.culqui = Culqi
      this.culqui.publicKey = publicKey
      this.culqui.init();
    },
    methods: {
      getUbigeoFullName () {
        const self = this
        this.axios({
          method: 'get',
          url: '/api-v1/ubigeo/ubigeo-full-name/',
          params: {
            pk: self.shipping.ubigeo
          }
        }).then(response => {
          self.ubigeoFullName = response.data.full_name
        }).catch(error => {
        })
      },
      createToken () {
        const self = this
        self.$validator.validateAll().then((result) => {
          if (result) {
            culquiUtil(self.culqui)
              .then(function (responseCulqui) {
                self.classModalContainer = 'six'
                self.error_message = ''
                self.axios({
                  method: 'post',
                  url: '/api-v1/payment/culqui/save-token/',
                  data: {
                    token: responseCulqui
                  }
                }).then(response => {
                  self.classModalContainer = ''
                  if (response.data.status === 'ok') {
                    window.location.href = '/proceso-compra/gracias/'
                  } else {
                    self.error_message = response.data.msg
                  }
                }).catch(error => {
                  console.log('errorsaxios', error)
                })
              })
              .catch(function (error) {
                console.log(error, 'error')
              })
          }

        })
      }
    },
    computed: {
      ...mapGetters([
        'getErrorCulqi'
      ])
    }
  }
</script>
<style>
  .row_separated{
    width: 100%;
    height: 1px;
    background: #eee;
  }
</style>