<template>
    <div class="col-md-8">
      <form class="row proceso_compra" method='POST' action="" @submit.prevent='nextPaso3()' >
        <div class="col-md-12">
          <div class="">
            <div class="w-body">
              <h3 class="proceso_compra__title">INFORMACIÓN DE ENVIO</h3>
              <div class="form-horizontal form-checkout form-checkout-1">
                <div class="row">
                    <div class="col-xs-12">
                        <p>Al finalizar la compra, tus datos de domicilio se guardarán en tu libreta de direcciones</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 mb-1">
                        <select name="" id="" v-model='shippingSelect' @change='changeAddressSelect' class='form-control' >
                          <option value="">Nueva Dirección</option>
                          <option :value="shipping.id" v-for='shipping in customerShipping'>
                            {{shipping.type_address_name}} - {{shipping.address}}
                          </option>
                        </select>
                    </div>
                    <div class="col-xs-12 col-sm-4 mb-1">
                        <input v-validate="'required'"  name='nombres' type="text" v-model='shipping.first_name' placeholder="Nombres" class="form-control">
                        <span class='text-danger'> {{ errors.first('nombres') }}</span>
                    </div>
                    <div class="col-xs-12 col-sm-4 mb-1">
                        <input v-validate="'required'" name='apellidos'  type="text"  v-model='shipping.last_name' placeholder="Apellidos" class="form-control">
                        <span class='text-danger'> {{ errors.first('apellidos') }}</span>
                    </div>
                    <div class="col-xs-12 col-sm-4 mb-1">
                        <select name="tipo" v-validate="'required'"  id="" v-model='shipping.type_address' class='form-control'>
                          <option value="">Tipo de dirección</option>
                          <option :value="type_add.value" v-for='type_add in type_address'>
                            {{type_add.name}}
                          </option>
                        </select>
                        <span class='text-danger'> {{ errors.first('tipo') }}</span>
                    </div>
                    <div class="col-xs-12 col-sm-4 mb-1">
                        <select @change='changeDepartamento'  v-validate="'required'" v-model='shipping.departamento' name="departamento"  id="" class='form-control'>
                          <option value="">Seleccione Departamento</option>
                          <option :value="depart.codigo" v-for='depart in departamentos'>
                            {{depart.descripcion}}
                          </option>
                        </select>
                        <span class='text-danger'> {{ errors.first('departamento') }}</span>
                    </div>
                    <div class="col-xs-12 col-sm-4 mb-1">
                        <select name="provincia" @change='changeProvincia'  v-validate="'required'" id="" v-model='shipping.provincia' class='form-control'>
                          <option value="">Seleccione Provincia</option>
                          <option :value="prov.codigo" v-for='prov in provincias'>
                            {{prov.descripcion}}
                          </option>
                        </select>
                        <span class='text-danger'> {{ errors.first('provincia') }}</span>
                    </div>
                    <div class="col-xs-12 col-sm-4 mb-1">
                        <select name="distrito" v-model='shipping.ubigeo'  v-validate="'required'" @change='changeUbigeo' id="" class='form-control'>
                          <option value="">Seleccione Distrito</option>
                          <option :value="dist.pk" v-for='dist in distritos'>
                            {{dist.descripcion}}
                          </option>
                        </select>
                        <span class='text-danger'> {{ errors.first('distrito') }}</span>
                    </div>
                     <div class="col-xs-12 col-sm-4 mb-1">
                        <input v-validate="'required'" name='direccion'  type="text" v-model='shipping.address' placeholder="Dirección" class="form-control">
                        <span class='text-danger'> {{ errors.first('direccion') }}</span>
                    </div>
                    <div class="col-xs-12 col-sm-4 mb-1">
                        <input v-validate="'required'" name='referencia' type="text" v-model='shipping.reference' placeholder="Referencia" class="form-control">
                        <span class='text-danger'> {{ errors.first('referencia') }}</span>
                    </div>
                    <div class="col-xs-12 col-sm-4 mb-1">
                        <input v-validate="'required'" name='celular' type="text"  v-model='shipping.phone' placeholder="Celular"  class="form-control">
                        <span class='text-danger'> {{ errors.first('celular') }}</span>
                    </div>
                    <div class="col-xs-12 col-sm-4 mb-1">
                        <select name="tipo" v-validate="'required'"  id="" v-model='shipping.type_document' class='form-control'>
                          <option value="">Seleccione Tipo documento</option>
                          <option :value="type_doc.value" v-for='type_doc in type_document'>
                            {{type_doc.name}}
                          </option>
                        </select>
                        <span class='text-danger'> {{ errors.first('type_document') }}</span>
                    </div>
                    <div class="col-xs-12 col-sm-4 mb-1">
                        <input v-validate="'required'" name='document' type="text"  v-model='shipping.document' placeholder="Documento"  class="form-control">
                        <span class='text-danger'> {{ errors.first('document') }}</span>
                    </div>
                    <div class="col-xs-6">
                        <router-link class='' class='proceso_compra__back' :to='{name: "checkout_paso_1"}'> < Atras</router-link>
                    </div>
                    <div class="col-xs-6">
                        <button class="btn  btn--dark pull-right">Continuar</button>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="">
            <div class="w-body">
              <h3 class="w-body__title">Metodo Envio</h3>
              <div class="influencer" v-for='inf in influencerShippingProduct'>
                <div class="row mb-2 mt-2">
                  <div class="col-md-7">
                    <h4><strong>{{inf.name}}</strong></h4>
                  </div>
                  <div class="col-md-5" v-if='shippingCost[inf.id]'>
                    <h5 class='mb-1'>Fecha de envio: {{shippingCost[inf.id].fecha}}  </h5>
                    <h5>Costo de envio: S/ {{shippingCost[inf.id].price}}  </h5>
                  </div>
                </div>
                <div class="row mb-2">
                  <div class="col-md-3 mb-2" v-for='product in inf.products'>
                    <div class="product">
                      <img :src="product.image_small" alt="" class="mb-1">
                      <h5 >{{product.product_name}}</h5>
                    </div>
                  </div>
                </div>
                <div class="row mb-1" v-if='shipping.ubigeo && inf.methods.length > 0' >
                  <div class="col-md-12">
                    <h4 class='mb-1'>Seleccione metodo de envio</h4>
                  </div>
                  <div class="col-md-6" v-for='(shipping_method, index) in inf.methods'>
                    <input type="radio" v-model='shippingCost[inf.id]' :value='getValueShipping(shipping_method)'
                    :id='inf.id + index' :name='"metodo" + inf.id' v-validate="'required'" @change='changeShippingCost'>
                    <label :for="inf.id + index">{{shipping_method.method_name}}</label>
                    <span class='text-danger' v-show="errors.has('metodo' + inf.id)"> debe seleccionar metodo envio</span>
                  </div>
                </div>
                <div class="row" v-else-if='!shipping.ubigeo'>
                  <div class="col-md-12">
                    <h4 class='mb-1'>Seleccion una dirección</h4>
                  </div>
                </div>
                <div class="" v-else>
                  <p class="text-danger">No cuenta con metodo de envio</p>
                </div>
                <div class="line-separation"></div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
</template>
<script>
  export default {
    name: 'checkoutPaso2',
    data () {
      return {
        customerShipping: [],
        shippingSelect: '',
        departamentos: [],
        provincias: [],
        distritos: [],
        departamento: '',
        provincia: '',
        distrito: '',
        shippingCost: {},
        shipping: {
          first_name: '',
          last_name: '',
          type_address: '',
          address: '',
          reference: '',
          phone: '',
          ubigeo: '',
          departamento: '',
          provincia: '',
          type_document: '',
          document: ''
        },
        type_document: [
          {
            value: 'DNI',
            name: 'Dni'
          },
          {
            value: 'CE',
            name: 'Carnet de extranjería'
          }
        ],
        type_address: [
          {
            value: 'CASA',
            name: 'Casa'
          },
          {
            value: 'OFICINA',
            name: 'Oficina'
          },
          {
            value: 'CASA_PLAYA',
            name: 'Casa de playa'
          },
          {
            value: 'CASA_PLAYA',
            name: 'Casa de playa'
          },
          {
            value: 'CASA_CAMPO',
            name: 'Casa de campo'
          },
          {
            value: 'OTRO',
            name: 'Otro'
          }
        ],
        influencerShippingProduct: [],
        lenInlfuencer: ''
      }
    },
    created () {
      let paso = this.$cookie.get('paso')
      if (paso === 1) {
        this.$router.push({'name': 'checkout_paso_1'})
      }
      this.getCustomerShippingList()
      this.getDepartamentos()
      this.getInfluencerShippingProduct()
      if (this.$cookie.get('shippingSelect')) {
        this.shippingSelect = this.$cookie.get('shippingSelect')
      }
      if (this.$cookie.get('shipping')) {
        this.shipping = JSON.parse(this.$cookie.get('shipping'))
        this.changeDepartamento()
        this.changeProvincia()
        this.changeUbigeo()
      }
      if (this.$cookie.get('shippingCost')) {
        this.shippingCost = JSON.parse(this.$cookie.get('shippingCost'))
        // this.changeShippingCost()
      }
      this.$emit('paso', 'paso-2')
    },
    methods: {
      changeUbigeo () {
        console.log(this.shipping.ubigeo, '--')
        this.getInfluencerShippingProduct()
      },
      changeRadio (id, price, fecha) {
        console.log('change radio')
        this.$set(this.shippingCost[id], 'fecha', fecha)
        this.$set(this.shippingCost[id], 'price', price)
      },
      setShippingInfluencerCost (data) {
        const self = this
        // for (var x in data) {
        //   self.shippingCost[data[x].id] = {
        //     fecha: '',
        //     price: ''
        //   }
        // }
      },
      getShippingCostFecha (id) {
        console.log(id, 'id', this.shippingCost[id])
        return this.shippingCost[id].fecha
      },
      getValueShipping (obj) {
        return {
          price: obj.price,
          fecha: obj.shipping_day,
          method_id: obj.id
        }
      },
      getInfluencerShippingProduct () {
        const self = this
        this.axios({
          method: 'get',
          url: '/api/influencer-shipping-product/',
          params: {
            ubigeo: self.shipping.ubigeo
          }
        }).then(response => {
          self.influencerShippingProduct = response.data
          self.lenInlfuencer = response.data.length
        }).catch(error => {
        })
      },
      getDepartamentos () {
        const self = this
        this.axios({
          method: 'get',
          url: '/api-v1/ubigeo/departamentos/'
        }).then(response => {
          self.departamentos = response.data.departamentos
        }).catch(error => {
        })
      },
      getProvincia () {
        const self = this
        this.axios({
          method: 'get',
          url: '/api-v1/ubigeo/provincias/',
          params: {
            departamento: self.shipping.departamento
          }
        }).then(response => {
          self.provincias = response.data.provincias
        }).catch(error => {
        })
      },
      getDistritos () {
        const self = this
        this.axios({
          method: 'get',
          url: '/api-v1/ubigeo/distritos/',
          params: {
            provincia: self.shipping.provincia
          }
        }).then(response => {
          self.distritos = response.data.distritos
        }).catch(error => {
        })
      },
      changeDepartamento () {
        this.getProvincia()
      },
      changeProvincia () {
        this.getDistritos()
      },
      changeShippingCost () {
        const self = this
        var total = 0
        for(var x in self.shippingCost) {
          console.log(self.shippingCost[x]['price'])
          total = total + parseFloat(self.shippingCost[x]['price'])
        }
        this.$emit('shippingCostTotal', total)
      },
      getCustomerShipping () {
        const self = this
        this.axios({
          method: 'get',
          url: '/customer-shipping-address/' + self.shippingSelect + '/'
        }).then(response => {
          self.shipping = response.data
          self.changeDepartamento()
          self.changeProvincia()
          self.getInfluencerShippingProduct()
        }).catch(error => {
        })
      },
      getCustomerShippingList() {
        const self = this
        this.axios({
          method: 'get',
          url: '/customer-shipping-address/',
          params: {
            fields: 'id,address,type_address_name'
          }
        }).then(response => {
          self.customerShipping = response.data
        }).catch(error => {
        })
      },
      changeAddressSelect () {
        if (this.shippingSelect) {
          this.getCustomerShipping()

        } else {
          this.shipping =  {
            first_name: '',
            last_name: '',
            type_address: '',
            address: '',
            reference: '',
            phone: '',
            ubigeo: '',
            departamento: '',
            provincia: '',
            type_document: '',
            document: ''
          }
          this.provincias = []
          this.distritos = []
        }
      },
      nextPaso3 () {
        const self = this
        self.$validator.validateAll().then((result) => {
          console.log(self.shippingCost)
          if (result && Object.keys(self.shippingCost).length >= self.lenInlfuencer ) {
            console.log('entro')
            if (self.shippingSelect) {
              this.axios({
                method: 'put',
                url: '/customer-shipping-address/' + self.shippingSelect + '/',
                data: self.shipping
              }).then(response => {
                self.shipping = response.data
                self.shippingSelect = response.data.id
                self.$cookie.set('shippingSelect', self.shippingSelect)
                self.$cookie.set('shipping', JSON.stringify(self.shipping))
                self.$cookie.set('shippingCost', JSON.stringify(self.shippingCost))
                if (self.$cookie.get('paso') >= 3) {

                } else {
                  self.$cookie.set('paso', 3)
                }
                self.$router.push({'name': 'checkout_paso_3'})
              }).catch(error => {
              })
            } else {
              this.axios({
                method: 'post',
                url: '/customer-shipping-address/',
                data: self.shipping
              }).then(response => {
                self.shipping = response.data
                self.shippingSelect = response.data.id
                self.$cookie.set('shippingSelect', self.shippingSelect)
                self.$cookie.set('shipping', JSON.stringify(self.shipping))
                self.$cookie.set('shippingCost', JSON.stringify(self.shippingCost))
                if (self.$cookie.get('paso') >= 3) {

                } else {
                  self.$cookie.set('paso', 3)
                }
                self.$router.push({'name': 'checkout_paso_3'})
              }).catch(error => {
              })
            }
          }
        })
      }
    }
  }
</script>
<style>
  .line-separation{
    width: 100%;
    height: 1px;
    background: #eee;
  }
</style>