{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1"/>
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}?v=0.0.8"/>
    <link rel="stylesheet" href="{% static 'css/styl.css' %}?v=0.0.8"/>
    <link rel="shortcut icon" href="/favicon.ico"/>
    {% block css %}

    {% endblock css %}
</head>
<body>
  <div id="page" class="wrapper">

    {% include "./header_order.html" %}
    {% block content %}

    {% endblock content %}

    {% include "./footer.html" %}

  </div>
    {% block before_js %}

    {% endblock before_js %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    {% if debug %}
        <script src='http://localhost:8080/static/app/app.js'></script>
    {% else %}
        <script src='{% static "app/app.js" %}?v=0.0.4'></script>

    {% endif %}
    {% block js %}

    {% endblock js %}

</body>
</html>
