{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1"/>
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}?v=0.0.9"/>
    <link rel="stylesheet" href="{% static 'css/jquery.mmenu.css' %}">
    <link rel="stylesheet" href="{% static 'css/slick.css' %}?v=0.0.9"/>
    <link rel="stylesheet" href="{% static 'css/slick-theme.css' %}?v=0.0.9"/>
    <link rel="stylesheet" href="{% static 'css/styl.css' %}?v=0.0.9"/>

    <link rel="shortcut icon" href="/favicon.ico"/>
    {% block css %}

    {% endblock css %}
</head>
<body class='home'>
  <div id="page" class="wrapper">

    {% include "./header.html" %}
    {% include "./menu.html" %}
    <div class="page">
        {% block content %}

        {% endblock content %}

    </div>
    <cart-view ></cart-view>
    {% include "./footer.html" %}

  </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>
        var staticURL = '{{STATIC_URL}}';
    </script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="{% static 'js/bootstrap.js' %}?v=0.0.9"></script>
    <script src='{% static "js/jquery.mmenu.js" %}'></script>
    {% if debug %}
        <script src='http://localhost:8080/static/app/app.js'></script>
    {% else %}
        <script src='{% static "app/app.js" %}?v=0.0.9'></script>

    {% endif %}
    {% block js %}

    {% endblock js %}
    <script src="{% static 'js/slick.min.js' %}"></script>
    <script src="{% static 'js/functions.js' %}?v=0.0.9"></script>
    <script>
        jQuery(document).ready(function($) {
            $(".menu_categorias .link_menu").click(function(event) {
                /* Act on the event */
                event.preventDefault();
                $('.menu_categorias li').removeClass('active')
                $('.submenu--active').removeClass('submenu--active')
                $(this).parent().addClass('active')
                $(this).parent().find('.submenu').addClass('submenu--active')
            });
            window.onclick = function(event) {
                console.log(event.target, '--')
                // if (event.target == $(".modal-open .in")[0]) {
                //     $(".close_modal").trigger('click')
                // }
            }
            $(".header__account").click(function(event) {
                /* Act on the event */
                event.preventDefault()
                $(".header__search").toggleClass('hidden-xs')
                $(".header__search").find('input').trigger('click')
            });
        });
    </script>
</body>
</html>
