{% load static %}
<div id="footer">
  <div class="container">
    <div class="row">

      <div class="col-md-4 col-sm-4 col-xs-6 col-mv">
        <div class="block-list">
          <h3>Servicio al cliente</h3>
          <div class="footer_enlaces">
            <ul class="service_client">
              {% for page_pro in pages_processors %}
                <li><a class=''  href='{% url "web_page:pages" page_pro.slug %}'>{{page_pro.name}}</a></li>
              {% endfor %}
              <li><a href='{% url "web_page:question_response" %}'>Preguntas Frecuentes</a></li>

            </ul>
            <ul class="service_client">
              <li><a href='{% url "web_system:follow_orders" %}'>Sigue tu orden</a></li>
              <li><a href="{% url 'web_page:contact' %}">Soporte al cliente</a></li>
              <li><a href="{% url 'web_page:complaints_book' %}">Libro de reclamaciones</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-sm-2 col-xs-6 col-mv">
        <div class="block-list">
          <h3>Mi Cuenta</h3>
          <ul>
            <li><a href='{% url "web_system:login_register" %}'>Ingresar</a></li>
            <li><a href='{% url "web_system:login_register" %}'>Registro</a></li>
            <li><a href='{% url "web_system:my_order" %}'>Mis Ordenes</a></li>
            <li><a href='{% url "web_system:follow_orders" %}'>Sigue tu orden</a></li>
          </ul>
        </div>

      </div>
      <div class="col-md-3 col-sm-3 col-xs-12">
        <div class="block-list">
          <ul class="social">
            {% if configuration_processors.facebook %}
              <li><a target="_blank" href="{{configuration_processors.facebook}}"><i class="fab fa-facebook-f"></i></a></li>
            {% endif %}

            {% if configuration_processors.instagram %}
              <li><a target="_blank" href="{{configuration_processors.instagram}}"><i class="fab fa-instagram"></i></a></li>
            {% endif %}
            {% if configuration_processors.youtube %}
              <li><a target="_blank" href="{{configuration_processors.youtube}}"><i class="fab fa-youtube"></i></a></li>
            {% endif %}
          </ul>
        </div>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-12 col-mv col-xs-12">
        <div class="block-list">
          <h3>Suscribite</h3>
          <div class="w-form">
            <form action="" @submit.prevent='submitSuscription' >
              <input type="text" v-model='emailSuscription' class="text" placeholder="Ingresa tu email" />
              <button type="submit"  class="btn"><i class="fa fa-chevron-right"></i></button>
              <br></br>
              <p v-if='showEmailSuscription'>#{messageEmailSuscription}</p>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
