<header id="header" class="full-width">
  <div class="container cf">
    <div class="row">
      <div class="col-md-3">
        <div class="wrap-logo">
          <h1 class="logo"><a href="{% url 'web_system:home' %}">fanntop</a></h1>
        </div>
      </div>
      <div class="col-md-4">

      </div>
      {% comment %}
        <div class="col-md-5">
          <ul class="list-options">
            {% if request.user.is_authenticated %}
              <li><a href="" class="account"> <i class="fa fa-user"></i>{{request.user.first_name}}</a></li>
            {% else %}
              <li><a href="{% url 'web_system:login_register' %}" class="account"> <i class="fa fa-user"></i>Ingresar</a></li>
            {% endif %}
          </ul>
        </div>

      {% endcomment %}
    </div>
  </div>
</header>
