{% load static %}
<header id="header" class="full-width">
  <div class="container cf">
    <div class="row">
      <div class="col-md-3 col-sm-4 col-md-offset-5 col-sm-offset-5 col-xs-12 text-center">
        <a href="#menu" class="navbar-toggle collapsed"><span class="sr-only">...</span><i aria-hidden="true" class="fas fa-bars"></i></a>
        <div class="wrap-logo">
          <h1 class="logo"><a href="{% url 'web_system:home' %}"></a></h1>
        </div>
        <ul class="list-options">
          <li>
            <a href="{% url 'web_system:account' %}" class="account header__account">
              <img src="{% static 'img/lupa-01.png' %}" width='25' alt="">
            </a>
          </li>
          <li><a href="{% url 'web_product:product_favorites' %}" class="fav"> <img src="{% static 'img/crzn-01.png' %}" width='25' alt=""></a></li>
          <li><a href="#" @click.prevent='changeStatusCartView()' class="shop"> <img src="{% static 'img/bag-01-01.png' %}" width='25' alt=""></a></li>
        </ul>
      </div>
      {% comment %}

      <div class="col-md-5 col-md-push-4 col-sm-8 col-xs-6">
        <ul class="list-options">
          <li><a href="{% url 'web_product:product_favorites' %}" class="fav"> <i class="fa fa-heart"></i><span>Mis Favoritos</span></a></li>
          {% if request.user.is_authenticated %}
            <li class="list-options__menu">
              <a href="" class="account"> <i class="fa fa-user"></i>{{request.user.first_name}}</a>
              <ul class=''>
                <span class='triangle'>

                </span>
                <li>
                  <a href="{% url 'web_system:account' %}"> <i class="fa fa-dashboard"></i> Mi Cuenta</a>
                </li>
                <li>
                  <a href="{% url 'web_system:logout_view' %}"><i class=' fa fa-sign-out'></i>Cerrar sesión</a>
                </li>
              </ul>
            </li>
          {% else %}
            <li><a href="{% url 'web_system:login_register' %}" class="account"> <i class="fa fa-user"></i><span>Ingresar</span></a></li>

          {% endif %}
          <li><a href="#" @click.prevent='changeStatusCartView()' class="shop"> <i class="fa fa-shopping-bag"></i><span>Mis Compras</span></a></li>
        </ul>
      </div>
      {% endcomment %}
      <div class="col-md-3 col-xs-12  col-md-offset-1 col-sm-3 hidden-xs header__search">
        <form method='GET' action='{% url "web_product:product_search" %}' class="wrap-search">
          <input type="text" name='search' placeholder="Buscar"/>
          <div class="wrap-search__icon">
            <img class='hidden-xs' src="{% static 'img/lupa_trans.png' %}" width='19' alt="">
          </div>
        </form>
      </div>
    </div>
  </div>
</header>
