{% load static %}
<div id="nav" class="full-width">
  <div class="container">
    <nav class='menu_categorias'>
      <ul>
        <li><a class='link_menu'> Diseñadores</a>
          {% if designers_processors %}
          <div class="submenu">
            <div class="container">
              <ul class='row row__submenu'>
                {% for designer in designers_processors %}
                  <li class=''><a href="{% url 'web_product:influencer_products' designer.slug %}">{{designer.name}}</a></li>
                {% endfor %}
              </ul>
            </div>
          </div>
          {% endif %}
        </li>
        {% for category in categories_processors %}
        <li><a class='link_menu' {% if not category.category_categories.all %}href="{% url 'web_product:category_products' category.slug %}"{% endif %}> {{category.name}}</a>
          {% if category.category_categories.all %}
          <div class="submenu">
            <div class="container">
              <ul class='row'>
                {% for category_child in category.category_categories.all %}
                  <li class=''><a href="{% url 'web_product:category_child_products' category.slug category_child.slug %}">{{category_child.name}}</a></li>
                {% endfor %}
              </ul>
            </div>
          </div>
          {% endif %}
        </li>
        {% endfor %}
        <li><a class='link_menu'> Marcas</a>
          {% if influencers_processors %}
          <div class="submenu">
            <div class="container">
              <ul class='row row__submenu'>
                {% for influencer in influencers_processors %}
                  <li class=''><a href="{% url 'web_product:influencer_products' influencer.slug %}">{{influencer.name}}</a></li>
                {% endfor %}
              </ul>
            </div>
          </div>
          {% endif %}
        </li>

      </ul>
    </nav>
    <nav class="menu_opciones">
      <ul class="list-options">
          <li><a href="{% url 'web_product:product_favorites' %}" class="fav"> <img src="{% static 'img/corazon.png' %}" width='17' alt=""></a></li>
          {% if request.user.is_authenticated %}
            <li class="list-options__menu">
              <a href="" class="account"> <img src="{% static 'img/user.png' %}" width='17' alt=""></a>
             </a>
              <ul class=''>
                <span class='triangle'>
                </span>
                <li>
                  <a href="{% url 'web_system:account' %}"> <i class="fa fa-dashboard"></i> Mi Cuenta</a>
                </li>
                <li>
                  <a href="{% url 'web_system:logout_view' %}"><i class=' fa fa-sign-out'></i>Cerrar sesión</a>
                </li>
              </ul>
            </li>
          {% else %}
            <li><a href="{% url 'web_system:login_register' %}" class="account"> <img src="{% static 'img/user.png' %}" width='17' alt=""></a></li>

          {% endif %}
          <li><a href="#" @click.prevent='changeStatusCartView()' class="shop"> <img src="{% static 'img/mochila.png' %}" width='13' alt=""></a></li>
        </ul>
    </nav>
  </div>
</div>
<nav id="menu" class='mmenu'>
  <ul class='mmenu__ul'>
    {% for category in categories_processors %}
    <li class='mmenu__category'><span>{{category.name}}</span>
      <ul>
        {% for category_child in category.category_categories.all %}
          <li><a href="{% url 'web_product:category_child_products' category.slug category_child.slug %}">{{category_child.name}}</a></li>
        {% endfor %}
      </ul>
    </li>
    {% endfor %}
    {% if request.user.is_authenticated %}
      <li class=''>
        <a href="{% url 'web_system:logout_view' %}">Cerrar sesión</a>
      </li>
    {% else %}
      <li class=''>
        <a href="{% url 'web_system:login_register' %}">Ingresar</a>
      </li>
    {% endif %}
    <li class='mmenu__marcas'><span>Diseñadores</span>
      <ul>
        {% for influencer in designers_processors %}
          <li><a href="{% url 'web_product:influencer_products' influencer.slug %}">{{influencer.name}}</a></li>
        {% endfor %}
      </ul>
    </li>
    <li class='mmenu__marcas'><span>Marcas</span>
      <ul>
        {% for influencer in influencers_processors %}
          <li><a href="{% url 'web_product:influencer_products' influencer.slug %}">{{influencer.name}}</a></li>
        {% endfor %}
      </ul>
    </li>
    <li>
      <h4 class='mmenu__title'>
        MI CUENTA
      </h4>
    </li>
    <li>
      <a href="{% url 'web_system:my_order' %}">Mis ordenes</a>
    </li>
    <li>
      <a href='{% url "web_system:follow_orders" %}'>Sigue tu ordenes</a>
    </li>
    <li>
      <h4 class='mmenu__title'>
        SERVICIO AL CLIENTE
      </h4>
    </li>
    <li><a href='{% url "web_page:question_response" %}'>Preguntas Frecuentes</a></li>
    {% for page_pro in pages_processors %}
      <li><a class=''  href='{% url "web_page:pages" page_pro.slug %}'>{{page_pro.name}}</a></li>
    {% endfor %}
    <li><a href="{% url 'web_page:contact' %}">Soporte al cliente</a></li>
    <li><a href="{% url 'web_page:complaints_book' %}">Libro de reclamaciones</a></li>
  </ul>
</nav>