{% extends "common/base.html" %}
{% load static thumbnail widget_tweaks %}
{% block css %}

{% endblock css %}
{% block content %}
<section class="main checkout preguntas_frecuentes">
  <div class="container">
    <div class="row ">
      <div class="col-xs-12">
        <div class="w-body">
          <h2 class='preguntas_frecuentes__title'>{{page.name|safe}}</h2>
          <div class="pages__content">
            {{page.description|safe}}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}
{% block js %}

{% endblock js %}
