{% extends "common/base.html" %}
{% load static thumbnail widget_tweaks %}
{% block css %}

{% endblock css %}
{% block content %}
<section class="main checkout preguntas_frecuentes">
  <div class="container">
    <div class="preguntas_frecuentes__row">
      <div class="preguntas_frecuentes__row__col_block1">
        <h3 class="preguntas_frecuentes__title">
          {{question_response.question}}
        </h3>
      </div>
    </div>
    <div class="preguntas_frecuentes__row ">
      <div class="preguntas_frecuentes__row__col_block1">
        <div class="w-body">
          <div class="pages__content">
            {{question_response.content|safe}}
          </div>
        </div>
      </div>
      <div class="preguntas_frecuentes__row__col_block2">
        <div class="">
          <div class="w-body">
            <div class="sidebar sidebar_account">
            <ul class='preguntas_frecuentes__sidebar'>
              {% for question in question_responses %}
                <li><a {% if question_response.slug == question.slug %}class='active'{% endif %} href="{% url 'web_page:question_response_question' question.slug %}">{{question.question}}
                   </a></li>
              {% endfor %}
            </ul>
          </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
{% endblock content %}
{% block js %}

{% endblock js %}
