{% extends "common/base.html" %}
{% load static thumbnail %}
{% block css %}
<style>
    [v-cloak] > * { display:none }

    .main-cloak{display: none}
    [v-cloak] .main-cloak{
      display: block !important;
    }
    p.mask{

    }
</style>
{% endblock css %}
{% block content %}
<section class="featured">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-xs-12">
        {% thumbnail influencer.banner "x360" crop="center" as im %}
      <div class="product-banner " style='background-image:url({{ im.url }})'>

      </div>
        {% endthumbnail %}

      </div>
    </div>
  </div>
</section>
{% if product_exists %}
<div v-cloak>
  <section class="main main-cloak">
    <div class="container">
      <div class="row">
        <div >
            <div class="col-md-3" >
              <div class="sidebar sidebar-filter box">
                <div class="w-filter">
                  <h3></h3>
                  <ul>
                    <li>
                      <label for="influencer_all">
                        <p class="mask"></p>
                      </label>
                    </li>
                    <li>
                      <label for="influencer_all">
                        <p class="mask"></p>
                      </label>
                    </li>
                    <li>
                      <label for="influencer_all">
                        <p class="mask"></p>
                      </label>
                    </li>
                    <li>
                      <label for="influencer_all">
                        <p class="mask"></p>
                      </label>
                    </li>
                    <li>
                      <label for="influencer_all">
                        <p class="mask"></p>
                      </label>
                    </li>
                    <li>
                      <label for="influencer_all">
                        <p class="mask"></p>
                      </label>
                    </li>
                    <li>
                      <label for="influencer_all">
                        <p class="mask"></p>
                      </label>
                    </li>
                    <li>
                      <label for="influencer_all">
                        <p class='mask'></p>
                      </label>
                    </li>
                    <li>
                      <label for="influencer_all">
                        <p class="mask"></p>
                      </label>
                    </li>
                    <li>
                      <label for="influencer_all">
                        <p class="mask"></p>
                      </label>
                    </li>

                  </ul>
                </div>
                <div class="w-filter">
                  <h3></h3>
                  <ul>
                    <li>
                      <label for="influencer_all">
                        <p class="mask"></p>
                      </label>
                    </li>
                    <li>
                      <label for="influencer_all">
                        <p class="mask"></p>
                      </label>
                    </li>
                    <li>
                      <label for="influencer_all">
                        <p class="mask"></p>
                      </label>
                    </li>
                    <li>
                      <label for="influencer_all">
                        <p class="mask"></p>
                      </label>
                    </li>
                    <li>
                      <label for="influencer_all">
                        <p class="mask"></p>
                      </label>
                    </li>
                    <li>
                      <label for="influencer_all">
                        <p class="mask"></p>
                      </label>
                    </li>
                    <li>
                      <label for="influencer_all">
                        <p class="mask"></p>
                      </label>
                    </li>
                    <li>
                      <label for="influencer_all">
                        <p class='mask'></p>
                      </label>
                    </li>
                    <li>
                      <label for="influencer_all">
                        <p class="mask"></p>
                      </label>
                    </li>
                    <li>
                      <label for="influencer_all">
                        <p class="mask"></p>
                      </label>
                    </li>

                  </ul>
                </div>

              </div>
            </div>
            <div class="col-md-9 product-list-mask">
            <div class="content">
              <div class="content-filter-top"></div>
              <div class="result">
                <div class="row">
                  <div class="result-paginator result-paginator-top">
                    <div class="search">
                      <input type="text"class='form-control' placeholder="Buscar">
                    </div>
                    <div class="order">
                      <select >
                        <option>Nombre (A-Z)</option>
                        <option>Ascendente</option>
                        <option>Descendente</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4"  >
                    <a href='' class="box item-result">
                      <div class="image"> <img src=""/></div>
                      <div class="detail">
                        <h3 class="title"></h3>
                        <!-- <h4 class="subtitle">subtitle</h4> -->
                        <div class="price">
                          <span class="offer"></span>
                          <!-- <span class="normal tachado">S/. 80.15 PEN</span> -->
                        </div>
                      </div>
                      <div class="fav"><span ><i class="fa fa-heart"></i></span></div>
                    </a>
                  </div>
                  <div class="col-md-4"  >
                    <a href='' class="box item-result">
                      <div class="image"> <img src=""/></div>
                      <div class="detail">
                        <h3 class="title"></h3>
                        <!-- <h4 class="subtitle">subtitle</h4> -->
                        <div class="price">
                          <span class="offer"></span>
                          <!-- <span class="normal tachado">S/. 80.15 PEN</span> -->
                        </div>
                      </div>
                      <div class="fav"><span ><i class="fa fa-heart"></i></span></div>
                    </a>
                  </div>
                  <div class="col-md-4"  >
                    <a href='' class="box item-result">
                      <div class="image"> <img src=""/></div>
                      <div class="detail">
                        <h3 class="title"></h3>
                        <!-- <h4 class="subtitle">subtitle</h4> -->
                        <div class="price">
                          <span class="offer"></span>
                          <!-- <span class="normal tachado">S/. 80.15 PEN</span> -->
                        </div>
                      </div>
                      <div class="fav"><span ><i class="fa fa-heart"></i></span></div>
                    </a>
                  </div>

                </div>

              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>

  <router-view ></router-view>
</div>
{% else %}
<section class="main">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3>No se encontraron productos</h3>
      </div>
    </div>

  </div>
</section>
  {% endif %}

 <!--name="fade" mode="out-in"  appear-->
{% endblock content %}
{% block js %}

{% endblock js %}
