#header{
  background: $main;

  .container{
    padding-top: 0.2em;
    padding-bottom: 0.2em;
  }
  .logo{
    margin: 0;
    margin-top: 12px;
    a{
      width: 150px;
      height: 50px;
      display: block;
      background: url("../img/logo_insider.png") no-repeat;
      background-size: contain;
      text-indent: -9999em;
    }
  }
  .list-options{
    display: none;
  }
  .wrap-search{
    margin: 1.5em 0 0 0;
    input{
      background: transparent;
      border: 2px solid #fff;
      border-radius: 5px;
      padding: 0.35em 0.5em;
      color: #fff;
      text-align: center;
      font-size: 12px;
      outline: none;
      width: 100%;
      &::-webkit-input-placeholder{
        color: #fff;
        opacity: 0.75;
      }
      &::input-placeholder{
        color: #fff;
      }

    }
  }
  .list-options{
    margin: 1em 0;
    text-align: right;
    // li{
    //   // display: inline-block;
    //   a{
    //     padding: 0 0 0 25px;
    //     color: #fff;
    //     font-size: 13px;
    //     i{
    //       margin: 0 5px 0 0;
    //     }
    //   }
    // }
  }
}

#nav{
  padding-bottom: 5px;
  .container{
    display: flex;

    .menu_categorias{
      width: 100%;
      // margin-left: 100px;
      text-align: center;
    }
    .menu_opciones{
      position: relative;
      // width: 100px;
      .list-options{
        position: absolute;
        right: 0px;
        display: flex;
        position: absolute;
        width: 320px;
        justify-content: flex-end;
        &__menu{
          position: relative;
          ul{
              opacity: 0;
              z-index: 0;
              position: absolute;
              top: 35px;
              left: -64px;
              width: 150px;
              background: $black;
              transition: 0.3s ease all;
              border-radius: 4px;
              box-shadow: 0 10px 20px rgba(0,0,0,0.05);

              span.triangle{
                border-left: 12px solid transparent;
                border-right: 12px solid transparent;
                border-bottom: 12px solid $black;
                position: absolute;
                top: -28px;
                left: 40%
              }
              li a{
                color: $white;
                padding: 5px 0;
                // padding:
                i{
                  margin-right: 4px;
                }
                &:hover{
                  text-decoration: underline;
                }
              }
            }
          &:hover{
            ul{
              z-index: 100;
              opacity: 1;
            }
          }
        }
        li{
          a.account{
            span{
              margin-left: 4px;
              padding: 0;
              display: inline-block;
            }
          }
        }
        li:last-child{
          a{

            margin-right: 0;
          }
        }
      }
    }
  }
  // &:after{
  //   content: "";
  //   background: #ccc;
  //   height: 2px;
  //   width: 100%;
  //   position: absolute;
  //   left: 0;
  //   bottom: 0;
  // }
}
nav.menu_opciones{
  margin-top: .75em;
 ul {
    margin: 0;
    li{
      // display: inline-block;
      a{
        color: #000;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 600;
        padding: 0;
        margin: 0 .5em;
        display: block;
        cursor: pointer;
        // border-bottom: 2px solid #ccc;
        position: relative;
        z-index: 2;
      }
      span{
        color: #000;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 600;
        padding: 0.75em 0;
        margin: 0 .5em;
        display: block;
        // border-bottom: 2px solid #ccc;
      }

      &:hover{
        a{
          color: black;
          text-decoration: none;

        }
        // .submenu{
        //   display: block;
        // }
      }
      .submenu{
        position: absolute;
        left: 0;
        top: 37px;
        width: 100%;
        z-index: 10;
        background: #fff;
        display: none;
        padding: 1em;
        h3{
          margin: 0 0 0.5em;
          display: block;
        }
      }
      // ul{
      //   -moz-column-count: 4;
      //   -moz-column-gap: 20px;
      //   -webkit-column-count: 4;
      //   -webkit-column-gap: 20px;
      //   column-count: 4;
      //   column-gap: 20px;
      //   li{
      //     display: block;
      //     margin: 1em 0;
      //     a{
      //       display: block;
      //       border-bottom: none !important;
      //       position: static;
      //       padding: 0.75em 0;
      //       margin: 0;

      //     }
      //     &:hover{
      //       a{
      //         border-bottom: none !important;
      //       }
      //     }
      //   }
      // }
    }
  }
}
nav.menu_categorias{

   ul {
    margin: 0;
    li{
      display: inline-block;
      a{
        color: #000;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 600;
        padding: 0.75em 0.75em 0 0.75em;
        margin: 0 1em;
        display: block;
        cursor: pointer;
        // border-bottom: 2px solid #ccc;
        border-bottom: 2px solid transparent;
        position: relative;
        z-index: 2;
        transition: 0.2s ease all;
      }
      span{
        color: #000;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 600;
        padding: 0.75em 0;
        margin: 0 1em;
        display: block;
        border-bottom: 2px solid #ccc;
      }

      &:hover{
        a{
          color: black;
          border-bottom: 2px solid black;
          text-decoration: none;

        }
        // .submenu{
        //   display: block;
        // }
      }
      .submenu{
        position: absolute;
        left: 0;
        top: 103px;
        width: 100%;
        z-index: 10;
        background: #fff;
        display: none;
        padding: 0.5em 1em;
        h3{
          margin: 0 0 0.5em;
          display: block;
        }
        &--active{
          display: block;
        }
      }

      ul{
        // -moz-column-count: 4;
        // -moz-column-gap: 20px;
        // -webkit-column-count: 4;
        // -webkit-column-gap: 20px;
        // column-count: 4;
        // column-gap: 20px;
        width: 100%;
        display: flex;
        justify-content: center;
        li{
          display: block;
          margin: 0.5em 0;
          a{
            display: block;
            border-bottom: none !important;
            position: static;
            padding: 0.75em 0;
            margin: 0 0.75em;
            font-weight: 400;
          }
          &:hover{
            a{
              border-bottom: none !important;
            }
          }
        }
      }
    }
    li.active{
      a{
          color: black;
          border-bottom: 2px solid black;
          text-decoration: none;

        }
    }
  }
}

.navbar-toggle {
  position: relative;
  float: left;
  background-color: transparent;
  background-image: none;
  // border: 1px solid #fff;
  border-radius: 4px;
  font-size: 22px;
  margin-top: 8px;
  margin-right: 0;
  margin-bottom: 0;
  padding: 5px 5px;
  color: #fff;
  line-height: 1;
  display: none;
  &:hover, &:focus{
    color: #fff;
  }
}

body .mm-menu{
  background: #fff;
  .mm-navbar a, .mm-menu .mm-navbar>*{
    color: #000;
  }
  .mm-listitem>a, .mm-listitem>span{
    border-bottom: 1px solid #ccc;
  }
}

.featured{
  .slider-slick{
    .slider-item{
      .slider-item-image{
        box-sizing: border-box;
        padding-bottom: 28%;
        position: relative;
        background: url("") no-repeat center / cover;
      }
    }
  }
}
.mmenu{
  &__marcas{
    >span{
      padding-left: 55px !important;
    }
  }
  &__ul{
    text-align: center;
  }
  &__title{
    border-bottom: 1px solid #ccc;
    padding: 10px 10px 10px 20px;
    color: $white;
    background: #4c4a4a;
    font-size: 16px;
  }
  &__category{
    width: 49.5%;
    display: inline-block !important;
    a{
      width: 115px;
      border-bottom: none !important;
    }
    span{
      display: block;
      text-align: center;
      padding: 5px 10px !important;
      margin: 10px !important;
      border: 1px solid #ccc;
    }
    .mm-btn_next:after{
      display: none;
    }
    &:after{
      display: none !important;
    }
  }
}
@media screen and (max-width: 767px) {
  #header .wrap-search{
    margin-top: 0;
  }
  #header .list-options{
    display: flex;
  }
}
@media screen and (max-width: 767px) {
  #header .wrap-search{
    margin-top: 0;
  }
  #header .list-options{
    display: flex;
  }
}
