.sidebar{
  &.sidebar-filter{
    padding: 1em 1em;
    background: $sidebar;
    h3{
      margin: 0 0 0.5em;
      padding: 0 0 0.25em;
      font-size: 1.25em;
      text-transform: uppercase;
      border-bottom: 1px solid $black;
      position: relative;
      &:after{
        width: 100%;
        height: 1px;
        background: #ff7e00;
        position: absolute;
        left: 0;
        bottom: -2px;
      }
    }

  }
}

.w-filter{
  margin: 1.5em 0;
  ul{
    li{
      display: block;
      margin: 0.25em 0;
      label{
        vertical-align: top;
        position: relative;
        padding: 0 0 0 24px;
        input[type=checkbox], input[type=radio]{
          display: none;
          &:checked + .filtros-check{
            background: $black;
            border: 1px solid $black;
            i{
              color: $white;
            }
          }
        }
        .filtros-check{
          position: absolute;
          top: 0;
          text-align: center;
          left: 0;
          display: block;
          width: 18px;
          height: 18px;
          border: 1px solid $black;
          // border-radius: 50%;
          background: $white;
          i{
            font-size: 10px;
            position: absolute;
            color: $white;
            top: 2px;
            left: 3px;
          }
        }
      }
    }
    &.colors{
      li{
        display: inline-block;
        margin: 0 5px 0 0;
        &:last-child{
          margin: 0;
        }
        label{
          cursor: pointer;
          padding: 0;
          input[type=checkbox], input[type=radio]{
            &:checked + .filtros-check{
              background: inherit;
              border: inherit;
              &:after{
                border: 1px solid $black;
              }
            }
          }
        }

        span{
          display: block;
          width: 20px;
          height: 20px;
          background: #ccc;
          position: relative;
          z-index: 2;
          &:after{
            content: "";
            // border-radius: 50%;
            position: absolute;
            width: 24px;
            height: 24px;
            border: 1px solid transparent;
            left: -2px;
            top: -2px;

          }
          &.red{
            background: red !important;
          }
          &.blue{
            background: blue !important;
          }
          &.pink{
            background: pink !important;
          }
          &.green{
            background: green !important;
          }
          &.yellow{
            background: yellow !important;
          }
        }
      }
    }
    &.sizes{
      li{
        display: inline-block;
        margin: 0 5px 0 0;
        &:last-child{
          margin: 0;
        }
        label{
          cursor: pointer;
          padding: 0;
          input[type=checkbox], input[type=radio]{
            &:checked + .filtros-check{
              background: $black;
              border: 1px solid $black;
              color: $white;
            }
          }
        }
        span{
          width: auto;
          height: auto;
          position: static;
          padding: 0.25em;
          width:50px;
          height: 30px;
          background: #fff;
          border-radius: 8px;
        }
      }
    }
  }
}
.w-filter:first-child{
  margin-top: 0;
}