
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: $f-second;
  // background: #fffaf4;
}



h1, h2, h3, h4, h5, h6 {
  font-family: $f-second;
  margin: 0;
}



a{
  transition: all 0.1s ease-in-out;
}
.tcenter{
  text-align: center !important;
}
.tleft{
  text-align: left !important;
}
.tright{
  text-align: right !important;
}

img{
  display: block;
  max-width: 100%;
  height: auto;
}

.btn{
  padding: 0.75em 1.25em;
  border-radius: 5px;
  border: none;
  font-weight: 500;
  transition: .2s ease all;
  i{
    margin-left: 10px;
  }
  &--dark{
    // background: $white;
    border: 1px solid $black;
    color: $white;
    background: $black;
    &:hover{
      color: $white;
      box-shadow: 0 14px 56px -20px rgba(0,0,0,.64);
    }
  }
  &.btn-primary{
    background: $primary;
    color: #fff;
  }
  &.btn-min{
    padding: 0.5em 1em;
  }
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}
.cf {
    *zoom: 1;
}


.c-black{
  color: $black !important;
}


.container{
  display: block;
  margin: 0 auto;
  //max-width: 1200px;
  // width: 100%;
  height: auto;
}

.tbl{
  display: table;
  vertical-align: middle;
  height: 100%;
  width: 100%;
  margin-bottom: 0;
  border: 0;
}

.tbl > thead > tr > th,
.tbl > thead > tr > td,
.tbl > tbody > tr > th,
.tbl > tbody > tr > td,
.tbl > tfoot > tr > th,
.tbl > tfoot > tr > td {
  padding: 8px;
  line-height: 1.42857;
  vertical-align: top;
  border-top: 1px solid #ddd;
}

.tbl-striped > tbody > tr:nth-of-type(odd) {
  background-color: #f9f9f9;
}


section.main{
  padding: 2em 0;
}

.box{
  background: #fff;
  position: relative;
  box-shadow: 0 10px 20px rgba(0,0,0,0.05);
  border-radius: 5px;
  overflow: hidden;
  transition: all 0.1s ease-in-out;
  display: block;
  &:hover{
    box-shadow: 0 14px 56px -20px rgba(0,0,0,.64);
    transition-timing-function: ease-out;
    transition-duration: .15s;
    transform: translateY(-3px);
  }
}

.boxw{
  background: #fff;
  position: relative;
  box-shadow: 0 10px 20px rgba(0,0,0,0.05);
  border-radius: 5px;
  transition: all 0.1s ease-in-out;
  padding: 1em;
}

.title-page{
  border-bottom: 1px solid $black;
  padding: 0 0 0.5em;
  margin: 0 0 2em;
  vertical-align: middle;
  h2{
    display: inline-block;
    color: $black;
    font-size: 1.5em;
    i{
      margin: 0 8px 0 0;
      //-color: $primary;
    }
  }
}

.item-influencer{
  margin: 2.5em auto;
  text-decoration: none;
  color: #333;
  max-width: 350px;
  cursor: pointer;
  .image{
    display: block;
    background: #d0dbe4;
    img{
      display: block;
      max-width: 100%;
      -webkit-filter: grayscale(100%);
      height: auto;
      transition: filter 1s, -webkit-filter 1s;

    }
  }
  .detail{
    padding: 0 0.5em;
    h3.title{
      display: block;
      font-size: 20px;
      text-transform: uppercase;
      text-align: center;
      margin: 0;
      padding: 0.5em 0;
    }
  }
  &:hover{
    color: $primary;
    text-decoration: none;
    .image{
      img{
        filter: none;
        -webkit-filter: grayscale(0%);
      }
    }
  }
}

.item-result{
  margin: 1.5em auto;
  text-decoration: none;
  color: #333;
  position: relative;
  max-width: 350px;
  display: block;
  .image{
    display: block;
    background: #d0dbe4;
    img{
      display: block;
      max-width: 100%;
      margin: auto;
      width: 100%;
      //-webkit-filter: grayscale(100%);
      height: auto;
      //transition: filter 1s, -webkit-filter 1s;

    }
  }
  .detail{
    padding: 0.5em 0.5em;
    &__header{
      display: flex;
      justify-content: space-between;
      &__actions{
        margin-left: 5px;
        width: 95px;
        display: flex;
        img{
          margin: auto;
          margin-top: 0;
        }
        &__remove{
          font-size: 14px;
          &:hover{
            text-decoration: underline;
          }
        }
        i{
          display: inline-block;
          font-size: 18px;
        }
        i:first-child{
          margin-right: 5px;
        }
      }
    }
    h3.title{
      display: block;
      font-size: 20px;
      // text-transform: uppercase;
      margin: 0 0 0.25em;
      padding: 0;
    }
    h4.subtitle{
      margin: 0 0 0.5em;
    }
    .price{
      .offer{
        display: inline-block;
        margin: 0 1em 0 0;
        color: $black;
      }
      .normal{
        display: inline-block;
        color: $black;
      }
      .tachado{
        text-decoration:line-through;
        color: #333;
      }
    }
  }
  .fav{
    background-color: #000;
    box-shadow: 0 0 3px 2px rgba(0,0,0,0.8);
    height: 100px;
    right: -50px;
    position: absolute;
    top: -50px;
    width: 100px;
    -webkit-transform: rotate(-45deg);
    z-index: 5;
    i{
      color: #fff;
      transform: rotate(45deg);
      position: absolute;
      left: 7px;
      bottom: 36px;
      font-size: 26px;

    }
  }
  &:hover{
    color: #333;
    text-decoration: none;
    .image{
      img{
        filter: none;
        -webkit-filter: grayscale(0%);
      }
    }
  }
}

.result-paginator{
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  flex-wrap:wrap;
  .search{
    width: 70%;
  }
  h2{
    display: inline-block;
  }
  .order{
    width: 30%;
    display: inline-block;
    padding: 0 0 0 10px;
    .text{
      display: inline-block;
      margin: 0 5px 0 0;
    }
    select{
      line-height: 40px;
      height: 34px;
      background: #fff;
      border-radius: 5px;
      // box-shadow: 0 10px 20px rgba(0,0,0,0.05);
      // border: none;
      padding: 0 5px;
    }
  }
  .paginator{
    float: right;
    padding: 0 5px 0 0;
    .item{
      width: 40px;
      height: 40px;
      line-height: 40px;
      text-align: center;
      display: inline-block;
      margin: 0 5px;
      background: #fff;
      border-radius: 5px;
      box-shadow: 0 10px 20px rgba(0,0,0,0.05);
      color: #000;

    }
    span.item{
      color: #ccc;
    }
    .text{
      display: inline-block;
      margin: 0 0.5em;
    }
  }
}

.tbl-car{
  display: table;
  vertical-align: middle;
  height: 100%;
  width: 100%;
  margin-bottom: 0;
  border: 0;
  min-width: 620px;
}

.tbl-car > thead > tr > th,
.tbl-car > thead > tr > td,
.tbl-car > tbody > tr > th,
.tbl-car > tbody > tr > td,
.tbl-car > tfoot > tr > th,
.tbl-car > tfoot > tr > td {
  padding: 8px;
  line-height: 1.42857;
  border: none;
}

.tbl-car > tbody > tr > th{
  border-bottom: 1px solid #ddd
}

.quantity-control{
  border-radius: 2px;
  margin-right: 15px;
  width: 114px;
  border: solid 1px #ccc;
  height: auto;
  overflow: hidden;
  a{
    margin: 0;
    width: 36px;
    vertical-align: top;
    text-align: center;
    height: 50px;
    color: #5d5d5d;
    line-height: 50px;
    font-size: 16px;
    -webkit-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    background: #f9f9f9;
    float: left;
  }
  a.menos{}
  a.mas{}
  .select-number{
    width: 40px;
    height: 50px;
    border: none;
    vertical-align: top;
    margin: 0;
    color: #5d5d5d;
    font-size: 14px;
    text-align: center;
    font-weight: 400;
    padding: 0;
    float: left;
  }
  &.min{
    a{
      height: 40px;
      line-height: 40px;
      font-size: 12px;
    }
    .select-number{
      height: 40px;
    }
  }
}


.box-caritem{
  position: fixed;
  right: 0;
  top: 0;
  width: 300px;
  height: 100%;
  background: #ffffff;
  border-radius: 0;
  z-index: 10;
  overflow: auto;
  .title{
    padding: 0 0 1em 0;
    text-align: center;
    border-bottom: 1px solid #eee;
    h3{
      font-size: 1.25em;
      color: #000;
      i{
        margin: 0 8px 0 0;
      }
    }
  }
}

.tbl-resp{
  overflow: auto;
}

.totals{
  border-top: 1px solid #eee;
  padding: 0;
  width: 100%;
  bottom: 0;
  .subtotal{
    margin: 0 0 0;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 10px 2px 10px;
  }
  .total{
    margin: 0 0 0;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 10px 2px 10px;

    font-size: 1.25em;
  }
  .w-btn{
    border-top: 1px solid #eee;
    padding: 0.5em 0 0;
    text-align: center;
  }
}

.item-car{
  border-top: 1px solid #eee;
  padding: 0.75em 0.5em;
  position: relative;
  height: auto;
  overflow: hidden;
  &:first-child{
    border: none;
  }
  .quantity{
    width: 30px;
    display: inline-block;
    .arrow{
      color: $primary;
      &.disabled{
        color: #ccc;
      }
    }

  }
  .item{
    float: left;
    width: 60px;
    .image{

    }
  }
  .detail{
    padding: 0 0 0 65px;
    h3{
      font-weight: 400;
      font-size: 1.2em;
      margin-bottom: 0.5em;
    }
    .price{
      font-size: 0.85em;
      strong{
        color: $red;
      }
    }
    .w-quantity{
      margin-top: 1em;
      margin-bottom: 0.25em;
      .quantity-control.min a {
        height: 34px;
        line-height: 34px;
        font-size: 10px;
      }
      .quantity-control.min .select-number {
        height: 34px;
      }
    }
    .w-remove{
      display: block;
      a{
        color: $red;
        text-decoration: underline;
      }
    }
  }

}


.form-control{
  border: 1px solid $black;
  padding: 0.4em;
  border-radius: 0;
  box-shadow: none;
  color: $black;
}
.mt-20{
  margin-top: 20px;
}
.mb-20{
  margin-bottom: 20px;
}
.link{
  color: $black;
  &:hover{
    color: $black;
    text-decoration: underline;
  }
}
.page{
  min-height: calc(100vh - 302px);
}
@media screen and (max-width: 768px) {
  .result-paginator .search{
    width: 58%;
  }
  .result-paginator .order{
    width: 42%;
  }
}


@media screen and (max-width: 480px) {
  .result-paginator .search{
    width: 100%;
  }
  .result-paginator .order{
    margin-top: 10px;
    width: 100%;
  }
}
