// =============================================================
// $_RESPONSIVE STYLES
// =============================================================

@media screen and (min-width: 1000px) {

}

@media screen and (max-width: 1335px) {

}

@media screen and (max-width: 1220px) {


}

@media (max-width: 940px) and (min-width: 769px) {


}

@media screen and (max-width: 991px) {
  .container {
    width: 100%;
  }

  .product-related .w-body .item-result {
    margin: 0 auto 2em;
  }

  #footer .block-list {
    .logo{
      margin-left:  -1em;
    }
    p.copy{
      padding: 0;
    }
  }
}

@media screen and (min-width: 768px) {


  .mm-wrapper_opening .mm-menu_offcanvas.mm-menu_opened~.mm-slideout{
    transform: translate3d(0,0,0) !important;

  }
  .mm-page__blocker{
    display: none !important;
  }
  .mm-wrapper_blocking{
    overflow: auto !important;
  }



}

@media screen and (max-width: 767px) {

  #header {
    .navbar-toggle{
      display: block;
    }
    .wrap-logo{
      margin-left: 34px;
      display: inline-block;
    }
    .list-options {
      float:right;
      li a {
        display: block;
        padding: 0 0 0 15px;
        font-size: 20px;
        color: $white;
        span{
          display: none;
        }
      }
    }
  }
  #nav{
    display: none !important;
  }

  // .sidebar{
  //   margin-bottom: 2em;
  // }

  .wrap-gallery{
    margin-bottom: 2em;
  }

  .wrap-desc-info .tab-content .tab-pane{
    padding: 1em;
  }

  .box-login{
    margin-bottom: 1.5em;
  }

  .box-checkout1{
    margin-bottom: 1.5em;
  }

  .box-checkout2{
    margin-bottom: 1.5em;
  }
  #footer .block-list {
    .logo{
      margin: 0 auto 0;
    }
    p.copy{
      text-align: center;
    }
  }


}

@media screen and (max-width: 520px) {
  .result-paginator{
    .order{
      text-align: center;
      // width: 100%;
      // margin: 0 0 1.5em;
    }
    .paginator{
      float: none;
      text-align: center;
      width: 100%;
      padding: 0;
    }
  }
  .wrap-desc-info ul.tab li a{
    font-size: 1em;
    padding: 1em 0.75em;
  }

  .quantity-control a{
    height: 34px;
    line-height: 34px;
    font-size: 10px;
  }
  .quantity-control .select-number{
    height: 34px;
  }
  .detail-product .disponibilidad .counter-prin .btn{
    padding: 0 25px;
    height: 36px;
    line-height: 36px;
  }

}


@media (min-width: 768px){

}


@media (max-width: 480px){
  #header .list-options li a {
    padding: 0 0 0 8px;
  }
  #header .wrap-logo{
    margin-left: 15px;
  }
  #header .logo a{
    width: 100px;
    height: 32px;
  }
}
