{% extends "common/base_order.html" %}
{% load static thumbnail widget_tweaks l10n %}
{% block css %}

{% endblock css %}
{% block content %}
<section class="main checkout">
        <div class="container">
          <form class="row" action="" method='POST'>
            {% csrf_token %}
            <div class="col-md-7">
              <div class="row">
                <div class="col-md-12">
                  <div class="boxw">
                    <div class="w-body">
                      <h3 class="w-body__title">Información del contacto</h3>
                      <div class="form-horizontal form-checkout form-checkout-1">
                        <div class="form-group">
                          <div class="col-xs-12 col-sm-6">
                            {{form.email.label_tag}}
                            {{form.email|add_class:'form-control'}}
                          </div>
                          <div class="col-xs-12 col-sm-6">
                            {{form.phone.label_tag}}
                            {{form.phone|add_class:'form-control'}}
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="col-xs-12 col-sm-6">
                            {{form.first_name.label_tag}}
                            {{form.first_name|add_class:'form-control'}}
                          </div>
                          <div class="col-xs-12 col-sm-6">
                            {{form.last_name.label_tag}}
                            {{form.last_name|add_class:'form-control'}}
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="col-xs-12 col-sm-6">
                            {{form.type_document.label_tag}}
                            {{form.type_document|add_class:'form-control'}}
                          </div>
                          <div class="col-xs-12 col-sm-6">
                            {{form.document.label_tag}}
                            {{form.document|add_class:'form-control'}}
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-12">

                  <div class="boxw">
                    <div class="w-body">
                      <h3 class="w-body__title">Dirección de Envío</h3>
                      <div class="form-horizontal form-checkout form-checkout-1">
                        <div class="form-group">
                          <div class="col-xs-12">
                            {{form_order_shipping.direccion_save.label_tag}}
                            {{form_order_shipping.direccion_save|add_class:'form-control'}}
                          </div>

                        </div>
                        <div class="form-group">
                          <div class="col-xs-12 col-sm-6">
                            {{form_order_shipping.first_name.label_tag}}
                            {{form_order_shipping.first_name|add_class:'form-control'}}
                          </div>
                          <div class="col-xs-12 col-sm-6">
                            {{form_order_shipping.last_name.label_tag}}
                            {{form_order_shipping.last_name|add_class:'form-control'}}
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="col-xs-12 col-sm-6">
                            {{form_order_shipping.type_document.label_tag}}
                            {{form_order_shipping.type_document|add_class:'form-control'}}
                          </div>
                          <div class="col-xs-12 col-sm-6">
                            {{form_order_shipping.document.label_tag}}
                            {{form_order_shipping.document|add_class:'form-control'}}
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="col-xs-12 col-sm-6">
                            <label for="">Departamento</label>
                            <select class="form-control" id='id_shipping-departamento' name="departamento" >
                              <option value="">Seleccione Departamento</option>
                            </select>

                          </div>
                          <div class="col-xs-12 col-sm-6">
                            <label for="">Provincia</label>
                            <select class="form-control" name="provincia" id="id_shipping-provincia">
                              <option value="">Seleccione Provincia</option>
                            </select>
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="col-xs-12 col-sm-6">
                            <label for="">Distrito</label>
                            {{form_order_shipping.ubigeo|add_class:'form-control'}}
                          </div>
                          <div class="col-xs-12 col-sm-6">
                            {{form_order_shipping.address.label_tag}}
                            {{form_order_shipping.address|add_class:'form-control'}}
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="col-xs-12 col-sm-6">
                            {{form_order_shipping.reference.label_tag}}
                            {{form_order_shipping.reference|add_class:'form-control'}}
                          </div>
                          <div class="col-xs-12 col-sm-6">
                            {{form_order_shipping.phone.label_tag}}
                            {{form_order_shipping.phone|add_class:'form-control'}}
                          </div>
                        </div>
                        {% comment %}
                          <div class="form-group">
                            <div class="col-xs-12">
                              <label for="{{form_order_shipping.save_data.id_for_label}}">
                                {{form_order_shipping.save_data}}Guarde esta información para la próxima vez
                              </label>
                            </div>
                          </div>
                        {% endcomment %}

                        <div class="form-group">
                          <div class="col-md-12">
                            <div class="w-lnk-btn"><a href="{% url 'web_cart:cart' %}" class="lnk"><i class="fa fa-angle-left"></i>Regresar al carrito</a>
                              <button type="submit" class="btn btn-primary">Continuar</button>
                            </div>
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="col-md-12">
                            <p class="small">* Los pedidos realizados después de las 3:00 p.m. (hora del Reino Unido) no se enviarán hasta el día siguiente. Tenga en cuenta que no enviamos los fines de semana ni los días festivos, por ejemplo, pedidos realizados después de las 3:00 p.m. (hora del Reino Unido) de un viernes ganado. Se enviará hasta el lunes siguiente. Ofrecemos devoluciones GRATUITAS para clientes de EE. UU. Y Canadá. * </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-5">
              <div class="boxw">
                <div class="box-items">
                {% for cart_item in cart.cart_items.all %}

                  <div class="item-car">
                    <div class="item">
                      <div class="image">
                        {% thumbnail cart_item.product.get_image "60x60" crop="center" as im %}
                          <img src="{{ im.url }}"  height="{{ im.height }}">
                        {% endthumbnail %}
                      </div>
                    </div>
                    <div class="detail">
                      <h3>{{cart_item.product.product_class.name}}</h3>
                      <div class="sizes">Medium</div>
                    </div>
                  </div>
                {% endfor %}

                </div>
                <div class="totals">
                  <div class="blo-coupon">
                    <label for="">Ingrese Cupón</label>
                    <div class="form-group form-coupon">
                        <input type="text" class="form-control" id="coupon" placeholder="">
                        <div class="btn btn-primary btn-coupon">Validar</div>
                    </div>
                  </div>
                  <div class="msj-coupon">
                    <p class='text-danger'></p>
                  </div>
                  <div class="subtotal"> <span class="title-s">Subtotal: </span><strong>S/. <span class='subTotal'> {{sub_total|unlocalize}}</span>               </strong></div>
                  <div class="subtotal"> <span class="title-s">Descuento: </span><strong>S/. <span class='descuento'> {{discount|unlocalize}}</span>               </strong></div>
                  <div class="subtotal"> <span class="title-s">Costo envio: </span><strong>S/. <span class='shipping_price'>
                      {{shipping_price|unlocalize}}
                    </span></strong>
                  </div>
                  <div class="total">
                    <span class="title-s">Total: </span>
                    <strong>S/.
                      <span class='totalPrice'>
                        {{total|unlocalize}}
                      </span></strong>
                  </div>
                  <!--<div class="total"><span class="to">Total:   </span><strong>S/. {{cart.total}}</strong></div>-->
                </div>
              </div>
            </div>
          </form>
        </div>
      </section>
{% endblock content %}
{% block js %}
<script>
  jQuery(document).ready(function($) {
    var departamento_initial = $('#id_shipping-departamento')
    departamento_initial.html('')
    var code_departamento = '{{code_departamento}}'
    var code_provincia = '{{code_provincia}}'
    var code_distrito = '{{code_distrito}}'
    $.ajax({
        'url': '{% url "ubigeo:api_departamentos" %}',
        'method': 'GET',
        'success': function (data) {
            departamento_initial.append('<option value="" selected="selected">Seleccione Departamento</option>');
            for (var i = 0; i < data.departamentos.length; i++) {
              if (code_departamento == data.departamentos[i].codigo) {
                departamento_initial.append('<option selected="selected" value="' + data.departamentos[i].codigo + '">' + data.departamentos[i].descripcion + '</option>');
              } else {
                departamento_initial.append('<option value="' + data.departamentos[i].codigo + '">' + data.departamentos[i].descripcion + '</option>');
              }
            }
            if (code_departamento) {
              $('#id_shipping-departamento').trigger('change')
            }
            // provincia.change();
        }
    })
    $('#id_shipping-departamento').change(function(event) {
    /* Act on the event */
      var departamento = $(this).val();
      var provincia = $('#id_shipping-provincia')
      var distrito = $('#id_shipping-ubigeo')
      provincia.html('');
      distrito.html('');
      if (departamento) {
        $.ajax({
              'url': '{% url "ubigeo:api_provincias" %}' + '?departamento=' + departamento,
              'method': 'GET',
              'success': function (data) {
                  provincia.append('<option value="" selected="selected">Seleccione Provincia</option>');
                  for (var i = 0; i < data.provincias.length; i++) {
                    if (code_provincia == data.provincias[i].codigo) {
                      provincia.append('<option  selected="selected" value="' + data.provincias[i].codigo + '">' + data.provincias[i].descripcion + '</option>');
                    } else {
                      provincia.append('<option value="' + data.provincias[i].codigo + '">' + data.provincias[i].descripcion + '</option>');
                    }
                  }
                  if (code_provincia) {
                    $('#id_shipping-provincia').trigger('change')
                  }
                  distrito.append('<option value="" selected="selected">Seleccione Distrito</option>');
                  // provincia.change();
              }
          })
      } else {
        provincia.append('<option value="" selected="selected">Seleccione Provincia</option>');
        distrito.append('<option value="" selected="selected">Seleccione Distrito</option>');
        code_provincia = ''
      }


    });
    $('#id_shipping-provincia').change(function(event) {
    /* Act on the event */
      var provincia = $(this).val();
      var distrito = $('#id_shipping-ubigeo')
      distrito.html('');
      if (provincia) {
        $.ajax({
              'url': '{% url "ubigeo:api_distritos" %}' + '?provincia=' + provincia,
              'method': 'GET',
              'success': function (data) {
                  distrito.append('<option value="" selected="selected">Seleccione Distrito</option>');
                  for (var i = 0; i < data.distritos.length; i++) {
                    if (code_distrito == data.distritos[i].pk) {
                      distrito.append('<option selected="selected" value="' + data.distritos[i].pk + '">' + data.distritos[i].descripcion + '</option>');
                    } else {
                      distrito.append('<option value="' + data.distritos[i].pk + '">' + data.distritos[i].descripcion + '</option>');
                    }
                  }
                  code_distrito = ''
                  // provincia.change();
              }
          })
      }


    });
    function calculateMount(shipping_price) {
      var subTotal = $(".subTotal").text()
      var descuento = $(".descuento").text()
      // var total = $(".totalPrice").text()
      // var shipping_price = $(".shipping_price").text()
      var total = ((parseFloat(subTotal) + parseFloat(shipping_price)) - parseFloat(descuento))
      console.log(subTotal, shipping_price, total)
      $('.totalPrice').text(total.toFixed(2))
      $(".shipping_price").text(parseFloat(shipping_price).toFixed(2))
    }
    function ajaxUbigeoPrice (code_distrito) {
      $.ajax({
          'url': '{% url "web_order:get_price_shipping" %}' + '?ubigeo=' + code_distrito,
          'method': 'GET',
          'success': function (data) {
              // $(".shipping_price").text(data.price)
              // var total = parseFloat(data.price) + parseFloat($('.subTotal').text())
              // $('.totalPrice').text(total.toFixed(2))
              calculateMount(data.price)
              console.log(data, '...')
          }
      })
    }
    $('#id_shipping-ubigeo').change(function(event) {
    /* Act on the event */
      var distrito = $(this).val();
      ajaxUbigeoPrice(distrito)
    });
    function setUbigeo(data){
      code_provincia = data.provincia
      code_distrito = data.ubigeo
      $("#id_shipping-departamento").val(data.departamento)
      $("#id_shipping-departamento").trigger('change')
      ajaxUbigeoPrice(code_distrito)
      // $("#id_shipping-provincia").trigger('change')
    }
    function cleanProvincia(){
      var distrito_clean = $('#id_shipping-ubigeo')
      distrito_clean.html('');
      distrito_clean.append('<option value="" selected="selected">Seleccione Provincia</option>');
    }
    function cleanDistrito(){
      var provincia_clean = $('#id_shipping-provincia')
      provincia_clean.html('');
      provincia_clean.append('<option value="" selected="selected">Seleccione Provincia</option>');

    }
    function clean() {
      $("#id_shipping-first_name").val('')
      $("#id_shipping-last_name").val('')
      $("#id_shipping-document").val('')
      $("#id_shipping-type_document").val('')
      $("#id_shipping-reference").val('')
      $("#id_shipping-address").val('')
      $("#id_shipping-phone").val('')
      $("#id_shipping-ubigeo").val('')
      $("#id_shipping-departamento").val('')
      $("#id_shipping-provincia").val('')
      cleanProvincia()
      cleanDistrito()
      ajaxUbigeoPrice('00')

    }
    function setData(data) {
      $("#id_shipping-first_name").val(data.first_name)
      $("#id_shipping-last_name").val(data.last_name)
      $("#id_shipping-document").val(data.document)
      $("#id_shipping-type_document").val(data.type_document)
      $("#id_shipping-reference").val(data.reference)
      $("#id_shipping-address").val(data.address)
      $("#id_shipping-phone").val(data.phone)
      setUbigeo(data)

    }
    $("#id_shipping-direccion_save").change(function(event) {
      /* Act on the event */
      var address = $(this).val()

      if (address) {
        $.ajax({
          url: '{% url "web_order:customer_shipping_address" %}',
          type: 'GET',
          data: {address: address},
          success: function (data) {
            console.log(data, 'data')
            setData(data)
          }
        })
        .done(function() {
          console.log("success");
        })
        .fail(function() {
          console.log("error");
        })
        .always(function() {
          console.log("complete");
        });

      } else {
        clean()
      }
    });
    $(".btn-coupon").click(function(event) {
      /* Act on the event */
      event.preventDefault()
      var coupon = $("#coupon").val()
      $.ajax({
          'url': '{% url "web_order:get_coupon_discount" %}' + '?coupon=' + coupon,
          'method': 'GET',
          'success': function (data) {
              if (data.status == 'ok') {
                $(".shipping_price").text(parseFloat(data.shipping_price).toFixed(2))
                $('.totalPrice').text(parseFloat(data.total).toFixed(2))
                $('.subTotal').text(parseFloat(data.sub_total).toFixed(2))
                $('.descuento').text(parseFloat(data.discount).toFixed(2))
                $('.msj-coupon p').text(data.msj)
                $('.msj-coupon p').addClass('text-success')
                $('.msj-coupon p').removeClass('text-danger')
              }
              if (data.status == 'error') {
                $('.msj-coupon p').removeClass('text-success')
                $('.msj-coupon p').addClass('text-danger')
                $('.msj-coupon p').text(data.msj)
              }
          }
      })

    });
    $("#id_shipping-save_data").change(function(event) {
      /* Act on the event */
      var value_save = $(this).prop('checked')
      if (value_save) {
        $(".save_name_address").show('300');
        $('#id_shipping-title').attr('required', 'required');
      } else {
        $(".save_name_address").hide('300');
        $('#id_shipping-title').removeAttr('required')
      }
    });
  });
</script>
{% endblock js %}
