{% extends "common/base_order.html" %}
{% load static thumbnail widget_tweaks l10n %}
{% block css %}

{% endblock css %}
{% block content %}
<div class="content-loader">
  <div class="loader">
  </div>
</div>
<router-view ></router-view>
{% endblock content %}
{% block before_js %}
  <script src="https://checkout.culqi.com/v2"></script>
  <script>
  var publicKey = '{{CULQUI_PUBLIC_KEY_TEST}}'
  var static_logo = '{% static "img/culqi_logo.png" %}'
  // var culquihtml = Culqi
    // function culqi() {
    //     if(Culqi.token) { // ¡Token creado exitosamente!
    //       // Get the token ID:
    //         var data = Culqi.token;
    //         console.log(data, 'dataex')
    //     } else { // ¡Hubo algún problema!
    //           // Mostramos JSON de objeto error en consola

    //         var data = Culqi.error
    //         console.log(data, 'dataex')
    //       }
    // }
  // Culqi.publicKey = publicKey
  // Culqi.init();
  </script>
{% endblock before_js %}
{% block js %}
    <script>
    jQuery(document).ready(function($) {

    });

    $(window).load(function() {
        $( ".content-loader" ).fadeOut(1000)
    });

    </script>
{% endblock js %}