.main_checkout_thanks__title {
  margin-bottom: 10px;
}
.blo-coupon {
  margin-top: 20px;
}
.blo-coupon .form-coupon {
  font-size: 0;
}
.blo-coupon .form-coupon .form-control {
  width: calc(100% - 80px);
  display: inline-block;
  vertical-align: top;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.blo-coupon .form-coupon .btn-coupon {
  width: 80px;
  height: 34px;
  display: inline-block;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  vertical-align: top;
  padding: 7px 0px;
}
.save_hidden {
  display: none;
}
.item-result .image {
  background: #fff;
}
.item-result .detail {
  margin-top: 10px;
}
.item-result .detail h3.title {
  font-size: 16px;
}
.item-result .fav:hover i {
  color: #ff7e00;
}
.w-filter input[type=range]::-ms-track {
  width: 300px;
  height: 5px;
/*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
  background: transparent;
/*leave room for the larger thumb to overflow with a transparent border */
  border-color: transparent;
  border-width: 6px 0;
/*remove default tick marks*/
  color: transparent;
}
.w-filter input[type=range]::-ms-fill-lower {
  background: #777;
  border-radius: 10px;
}
.w-filter input[type=range]::-ms-fill-upper {
  background: #ddd;
  border-radius: 10px;
}
.w-filter input[type=range]::-ms-thumb {
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #daa520;
}
.w-filter input[type=range]:focus::-ms-fill-lower {
  background: #888;
}
.w-filter input[type=range]:focus::-ms-fill-upper {
  background: #ccc;
}
.product-banner {
  height: 360px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.detail-product .is-active {
  border: 1px solid #ff7e00;
}
.product_detail_vue__content {
  float: right;
}
.product_detail_vue__galery {
  float: left;
}
.product_detail .wrap-desc-info .tab-content .tab-pane {
  padding: 20px 10px;
}
.product_search_nofound {
  margin-top: 40px;
  height: 180px;
}
@media (max-width: 768px) {
  .product-banner {
    height: 300px;
  }
  .detail-product h2 {
    font-size: 22px;
  }
  .product_detail_vue__content {
    float: inherit;
  }
  .product_detail_vue__galery {
    float: inherit;
  }
  .product_search_nofound {
    height: 100px;
  }
}
@media (max-width: 480px) {
  .product-banner {
    height: 240px;
  }
  .product_search_nofound {
    height: 60px;
  }
}
#header .wrap-search {
  position: relative;
}
#header .wrap-search input {
  border: none;
  border-radius: 0;
  padding-right: 30px;
  font-size: 15px;
  border-bottom: 1px solid #fff;
}
#header .wrap-search__icon {
  position: absolute;
  right: 4px;
  top: 7px;
  color: #fff;
  font-size: 18px;
}
#header .list-options__menu {
  position: relative;
}
#header .list-options__menu .triangle {
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 12px solid #fff;
  position: absolute;
  top: -10px;
  left: 40%;
}
#header .list-options__menu ul {
  opacity: 0;
  z-index: 0;
  position: absolute;
  top: 35px;
  left: -20px;
  width: 150px;
  background: #fff;
  transition: 0.3s ease all;
  border-radius: 4px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.05);
}
#header .list-options__menu ul li {
  width: 100%;
  text-align: left;
}
#header .list-options__menu ul li a {
  display: block;
  padding: 10px 15px;
  width: 100%;
  color: #000;
}
#header .list-options__menu:hover ul {
  z-index: 100;
  opacity: 1;
}
nav ul li a {
  font-family: 'Lato', sans-serif;
}
nav ul li ul {
  margin-top: 15px;
  column-count: inherit;
}
nav ul li ul li {
  margin: 0px 0px 5px 0px;
}
nav ul li ul li a {
  font-family: 'Lato', sans-serif;
}
nav ul li .submenu {
  box-shadow: 0 5px 10px rgba(0,0,0,0.05);
}
#footer {
  padding: 2em 0;
}
#footer .service_client {
  margin-top: 15px;
  margin-bottom: 0;
}
#footer .service_client li {
  margin-bottom: 5px;
}
#footer .service_client li a {
  cursor: pointer;
}
.pages {
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 30px;
  padding-top: 30px;
}
.pages__title {
  font-size: 36px;
  margin-top: 20px;
  text-align: center;
}
.pages__content {
  margin-top: 20px;
}
.form-control {
  border-radius: 4px;
}
.item-car .item {
  margin-right: 5px;
}
.item-car .item a {
  display: block;
}
@media (min-width: 768px) {
  #menu {
    display: none;
  }
}
@media (max-width: 650px) {
  .pages {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
    padding-top: 10px;
  }
  .col-tbl-12 {
    width: 100%;
  }
}
@media (max-width: 480px) {
  .col-mv {
    width: 100%;
  }
  #footer {
    text-align: center;
  }
  #footer .block-list .logo {
    margin: auto;
  }
  #footer .block-list .w-form {
    margin: auto;
  }
}
.sidebar_account__info {
  margin-top: 20px;
}
.sidebar_account ul li {
  margin: 5px 0px;
}
.page-account__form .col-md-6 {
  margin-bottom: 15px;
}
.page-account .title_order {
  font-size: 16px;
  margin-bottom: 15px;
}
.page-account .order_info {
  margin-bottom: 20px;
}
.page-account .order_products {
  margin-top: 15px;
  margin-bottom: 15px;
}
.page-account .content_address {
  border: 1px solid #000;
  display: block;
  padding: 10px;
  color: #000;
  margin-bottom: 15px;
}
.page-account .content_address__flex {
  display: flex;
  justify-content: space-between;
}
.page-account .content_address__trash {
  font-size: 20px;
  color: #000;
  margin-right: 10px;
}
.page-account .content_address strong {
  color: #000;
}
.page-account .content_address p {
  color: #000;
  margin: 3px 0;
}
.row-status {
  margin-top: 40px;
  text-align: center;
  position: relative;
  overflow: hidden;
}
.row-status:after {
  content: '';
  width: 100%;
  height: 2px;
  position: absolute;
  left: 0;
  top: 45%;
  background: #ff7e00;
}
.row-status h5 {
  display: inline-block;
  background: #ff7e00;
  padding: 18px 15px;
  color: #fff;
  cursor: pointer;
border-radius8px
  font-size: 16px;
  position: relative;
  z-index: 100;
}
.row-status h5.active {
  background: #28a745;
}
.home-slick__item {
  width: 100%;
  height: 360px;
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
@media (max-width: 768px) {
  .home-slick__item {
    height: 300px;
  }
}
@media (max-width: 480px) {
  .home-slick__item {
    height: 240px;
  }
}
.btn-dark {
  background: #000;
  color: #fff;
}
.btn-dark:hover,
.btn-dark:visited,
.btn-dark:active,
.btn-dark:focus {
  color: #fff;
}
@media (max-width: 480px) {
  .col-mv {
    width: 100%;
    margin-left: 0;
  }
}
[type="radio"]:checked,
[type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
  color: #666;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  border: 1px solid #ddd;
  border-radius: 100%;
  background: #fff;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
  content: '';
  width: 12px;
  height: 12px;
  background: #000;
  position: absolute;
  top: 3px;
  left: 3px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}
[type="radio"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}
.loader {
  border: 8px solid #f3f3f3;
  border-radius: 50%;
  border-top: 8px solid #000;
  width: 80px;
  height: 80px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
.content-loader {
  height: 100vh;
  position: fixed;
  background: #fff;
  width: 100%;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  right: 0;
  left: 0;
  margin: auto;
}
.content-loader--inactive {
  opacity: 0;
}
@-moz-keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-o-keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.checkout .boxw {
  margin-bottom: 20px;
}
.checkout .boxw .w-body__title {
  font-weight: bold;
  color: #000;
  font-size: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #ff7e00;
}
.checkout .card-js {
  margin-bottom: 10px;
}
html,
body {
  min-height: 100%;
  height: 100%;
}
html.modal-active,
body.modal-active {
  overflow: hidden;
}
#modal-container {
  position: fixed;
  display: table;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  transform: scale(0);
  z-index: 1;
}
#modal-container.six {
  transform: scale(1);
}
#modal-container.six .modal-background {
  background: rgba(0,0,0,0);
  animation: fadeIn 0.5s cubic-bezier(0.165, 1.84, 0.44, 1) forwards;
}
#modal-container.six .modal-background .modal {
  background-color: transparent;
  animation: modalFadeIn 0.5s 0.8s cubic-bezier(0.165, 1, 0.44, 1) forwards;
}
#modal-container.six .modal-background .modal .logo_culqui {
  background: #000;
  padding: 10px;
  margin: auto;
}
#modal-container.six .modal-background .modal .procesando {
  margin-bottom: 20px;
  max-width: 400px;
  font-size: 16px;
}
#modal-container.six .modal-background .modal .loading-bar {
  display: inline-block;
  width: 4px;
  height: 18px;
  border-radius: 4px;
  animation: loading 1s ease-in-out infinite;
}
#modal-container.six .modal-background .modal .loading-bar:nth-child(1) {
  background-color: #3498db;
  animation-delay: 0;
}
#modal-container.six .modal-background .modal .loading-bar:nth-child(2) {
  background-color: #c0392b;
  animation-delay: 0.09s;
}
#modal-container.six .modal-background .modal .loading-bar:nth-child(3) {
  background-color: #f1c40f;
  animation-delay: 0.18s;
}
#modal-container.six .modal-background .modal .loading-bar:nth-child(4) {
  background-color: #27ae60;
  animation-delay: 0.27s;
}
#modal-container.six .modal-background .modal h2,
#modal-container.six .modal-background .modal p {
  opacity: 0;
  position: relative;
  animation: modalContentFadeIn 0.5s 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container.six .modal-background .modal .modal-svg rect {
  animation: sketchIn 0.5s 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
@-moz-keyframes loading {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1, 2.2);
  }
  40% {
    transform: scale(1);
  }
}
@-webkit-keyframes loading {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1, 2.2);
  }
  40% {
    transform: scale(1);
  }
}
@-o-keyframes loading {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1, 2.2);
  }
  40% {
    transform: scale(1);
  }
}
@keyframes loading {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1, 2.2);
  }
  40% {
    transform: scale(1);
  }
}
#modal-container.six.out {
  animation: quickScaleDown 0s 0.5s linear forwards;
}
#modal-container.six.out .modal-background {
  animation: fadeOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container.six.out .modal-background .modal {
  animation: modalFadeOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container.six.out .modal-background .modal h2,
#modal-container.six.out .modal-background .modal p {
  animation: modalContentFadeOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container.six.out .modal-background .modal .modal-svg rect {
  animation: sketchOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container .modal-background {
  display: table-cell;
  background: rgba(0,0,0,0.8);
  text-align: center;
  vertical-align: middle;
}
#modal-container .modal-background .modal {
  background: #fff;
  padding: 50px;
  display: inline-block;
  border-radius: 3px;
  font-weight: 300;
  position: relative;
}
#modal-container .modal-background .modal h2 {
  font-size: 25px;
  line-height: 25px;
  margin-bottom: 15px;
}
#modal-container .modal-background .modal p {
  font-size: 18px;
  line-height: 22px;
}
#modal-container .modal-background .modal .modal-svg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 3px;
}
#modal-container .modal-background .modal .modal-svg rect {
  stroke: #fff;
  stroke-width: 2px;
  stroke-dasharray: 778;
  stroke-dashoffset: 778;
}
@-moz-keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-o-keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-moz-keyframes sketchIn {
  0% {
    stroke-dashoffset: 778;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@-webkit-keyframes sketchIn {
  0% {
    stroke-dashoffset: 778;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@-o-keyframes sketchIn {
  0% {
    stroke-dashoffset: 778;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes sketchIn {
  0% {
    stroke-dashoffset: 778;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@-moz-keyframes fadeOut {
  0% {
    background: rgba(0,0,0,0.7);
  }
  100% {
    background: rgba(0,0,0,0);
  }
}
@-webkit-keyframes fadeOut {
  0% {
    background: rgba(0,0,0,0.7);
  }
  100% {
    background: rgba(0,0,0,0);
  }
}
@-o-keyframes fadeOut {
  0% {
    background: rgba(0,0,0,0.7);
  }
  100% {
    background: rgba(0,0,0,0);
  }
}
@keyframes fadeOut {
  0% {
    background: rgba(0,0,0,0.7);
  }
  100% {
    background: rgba(0,0,0,0);
  }
}
@-moz-keyframes fadeIn {
  0% {
    background: rgba(0,0,0,0);
  }
  100% {
    background: rgba(0,0,0,0.7);
  }
}
@-webkit-keyframes fadeIn {
  0% {
    background: rgba(0,0,0,0);
  }
  100% {
    background: rgba(0,0,0,0.7);
  }
}
@-o-keyframes fadeIn {
  0% {
    background: rgba(0,0,0,0);
  }
  100% {
    background: rgba(0,0,0,0.7);
  }
}
@keyframes fadeIn {
  0% {
    background: rgba(0,0,0,0);
  }
  100% {
    background: rgba(0,0,0,0.7);
  }
}
@-moz-keyframes sketchOut {
  0% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 778;
  }
}
@-webkit-keyframes sketchOut {
  0% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 778;
  }
}
@-o-keyframes sketchOut {
  0% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 778;
  }
}
@keyframes sketchOut {
  0% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 778;
  }
}
@-moz-keyframes quickScaleDown {
  0% {
    transform: scale(1);
  }
  99.9% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@-webkit-keyframes quickScaleDown {
  0% {
    transform: scale(1);
  }
  99.9% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@-o-keyframes quickScaleDown {
  0% {
    transform: scale(1);
  }
  99.9% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes quickScaleDown {
  0% {
    transform: scale(1);
  }
  99.9% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@-moz-keyframes modalFadeIn {
  0% {
    background-color: transparent;
  }
  100% {
    background-color: #fff;
  }
}
@-webkit-keyframes modalFadeIn {
  0% {
    background-color: transparent;
  }
  100% {
    background-color: #fff;
  }
}
@-o-keyframes modalFadeIn {
  0% {
    background-color: transparent;
  }
  100% {
    background-color: #fff;
  }
}
@keyframes modalFadeIn {
  0% {
    background-color: transparent;
  }
  100% {
    background-color: #fff;
  }
}
@-moz-keyframes modalFadeOut {
  0% {
    background-color: #fff;
  }
  100% {
    background-color: transparent;
  }
}
@-webkit-keyframes modalFadeOut {
  0% {
    background-color: #fff;
  }
  100% {
    background-color: transparent;
  }
}
@-o-keyframes modalFadeOut {
  0% {
    background-color: #fff;
  }
  100% {
    background-color: transparent;
  }
}
@keyframes modalFadeOut {
  0% {
    background-color: #fff;
  }
  100% {
    background-color: transparent;
  }
}
@-moz-keyframes modalContentFadeIn {
  0% {
    opacity: 0;
    top: -20px;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}
@-webkit-keyframes modalContentFadeIn {
  0% {
    opacity: 0;
    top: -20px;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}
@-o-keyframes modalContentFadeIn {
  0% {
    opacity: 0;
    top: -20px;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}
@keyframes modalContentFadeIn {
  0% {
    opacity: 0;
    top: -20px;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}
@-moz-keyframes modalContentFadeOut {
  0% {
    opacity: 1;
    top: 0px;
  }
  100% {
    opacity: 0;
    top: -20px;
  }
}
@-webkit-keyframes modalContentFadeOut {
  0% {
    opacity: 1;
    top: 0px;
  }
  100% {
    opacity: 0;
    top: -20px;
  }
}
@-o-keyframes modalContentFadeOut {
  0% {
    opacity: 1;
    top: 0px;
  }
  100% {
    opacity: 0;
    top: -20px;
  }
}
@keyframes modalContentFadeOut {
  0% {
    opacity: 1;
    top: 0px;
  }
  100% {
    opacity: 0;
    top: -20px;
  }
}
