<template>
    <div  v-else  class="col-md-9 product-list-mask">
    <div class="content">
      <div class="content-filter-top"></div>
      <div class="result">
        <div class="row">
          <div class="result-paginator result-paginator-top">
            <div class="search">
              <input type="text"class='form-control' placeholder="Buscar">
            </div>
            <div class="order">
              <select >
                <option>todos</option>
                <option>Ascendente</option>
                <option>Descendente</option>
              </select>
            </div>
          <!--   <div class="paginator">
              <span class="item disabled">
                <i class="fa fa-angle-double-left"></i>
              </span>
              <span class="item disabled">
                <i class="fa fa-angle-left"></i>
              </span>
              <div class="text"></div>
              <a href="#" class="item">
                <i class="fa fa-angle-right"></i>
              </a>
              <a href="#" class="item">
                <i class="fa fa-angle-double-right"></i>
              </a>
            </div> -->
          </div>
        </div>

        <div class="row">
          <div class="result-paginator result-paginator-top">
            <div class="paginator"><span class="item disabled"><i class="fa fa-angle-double-left"></i></span><span class="item disabled"><i class="fa fa-angle-left"></i></span>
              <div class="text">1 De 8</div><a href="#" class="item"><i class="fa fa-angle-right"></i></a><a href="#" class="item"><i class="fa fa-angle-double-right"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
  export default {
    name: 'productListMask',
    data () {
      return {
        productsMask: [1,2,3,4,5,6,7,8,9,10,11,12]
      }
    }
  }
</script>