<template>
  <div class="col-md-9 col-sidebar col-sm-8 col-xs-12" :class='{"col-md-12": !isFilter}'>
    <div class="content">
      <div class="result">
        <div class="row" v-if='products.results.length > 0'>
          <div class="col-md-4 col-sm-4 col-xs-6 col-mv"  v-for='product in products.results' >
            <a :href='"/producto/" + product.slug' class=" item-result">
              <div class="image"> <img :src="product.product_variant.product_image.image"/></div>
              <div class="detail">
                <div class="detail__header">
                  <h3 class="title">{{product.name}}</h3>
                  <div class="detail__header__actions">
                    <img :src="staticURL+'/img/lupa.png'" width="18" @click.prevent='productSlug = product.slug' alt="">
                    <img :src="staticURL+'/img/corazon.png'" width="18"  @click.prevent='addFavorite(product.id)'  alt="">
                  </div>
                </div>
                <!-- <h4 class="subtitle">subtitle</h4> -->
                <div class="price">
                  <span class="offer">S/. {{product.price}}</span>
                  <!-- <span class="normal tachado">S/. 80.15 PEN</span> -->
                </div>
              </div>
              <!-- <div class="fav product_favorite" @click.prevent='addFavorite(product.id)'><span ><i class="fa fa-heart"></i></span></div> -->
            </a>
          </div>
        </div>
        <h2 v-else class='notfound'>No se encontraron productos</h2>

  <!--       <div class="row">
          <div class="result-paginator result-paginator-top">
            <div class="paginator"><span class="item disabled"><i class="fa fa-angle-double-left"></i></span><span class="item disabled"><i class="fa fa-angle-left"></i></span>
              <div class="text">1 De 8</div><a href="#" class="item"><i class="fa fa-angle-right"></i></a><a href="#" class="item"><i class="fa fa-angle-double-right"></i></a>
            </div>
          </div>
        </div> -->
      </div>
    </div>
    <productDetailModal v-if='productSlug' @closeModal='closeModal' :productSlug='productSlug'></productDetailModal>
  </div>
</template>
<style>
  .notfound{
    margin-top: 30px;
  }
</style>
<script>
  import productDetailModal from '@/components/category/productDetailModal'
  import productItem from '@/components/category/productItem'
  export default {
    name: 'productList',
    props: ['products', 'isFilter'],
    data () {
      return {
        orderBy: 'name_asc',
        search: '',
        productSlug: '',
        staticURL: ''
      }
    },
    components: {
      productItem,
      productDetailModal
    },
    mounted () {
      this.staticURL = staticURL
    },
    methods: {
      closeModal () {
        this.productSlug = ''
      },
      changeOrderBy (value) {
        this.orderBy = value
        this.$emit('orderBy', this.orderBy)
      },
      addFavorite (idProduct) {
        const self = this
        this.axios({
          method: 'post',
          url: '/api/product-favorite/',
          data: {
            product_id: idProduct
          }
        }).then(response => {

        }).catch(error => {

        })
      }
    }
  }
</script>