.sidebar_account
    &__info
        margin-top 20px
    ul
        li
            margin 5px 0px
.page-account
    &__form
        .col-md-6
            margin-bottom 15px
    .title_order
        font-size 16px
        margin-bottom 15px
    .order_info
        margin-bottom 20px
    .order_products
        margin-top 15px
        margin-bottom 15px
    .content_address
        border 1px solid #000
        display block
        padding 10px
        color black
        margin-bottom 15px
        &__flex
          display flex
          justify-content space-between
        &__trash
          font-size 20px
          color #000
          margin-right 10px
        strong
            color black
        p
            color black
            margin 3px 0
.row-status
    margin-top 40px
    text-align center
    position relative
    overflow hidden
    &:after
      content ''
      width 100%
      height 2px
      position absolute
      left 0
      top 45%
      background #ff7e00
    h5
      display inline-block
      background #ff7e00
      padding 18px 15px
      color white
      cursor pointer
      border-radius8px
      font-size 16px
      position relative
      z-index 100

    h5.active
      background #28a745

