// HEADER

#header
    .wrap-search
        // border-bottom 1px solid white
        position relative
        input
            border none
            border-radius 0
            padding-right 30px
            font-size 15px
            border-bottom 1px solid white
        &__icon
            position absolute
            right 4px
            top 7px
            color white
            font-size 18px
    .list-options
        &__menu
            position relative
            .triangle
                border-left 12px solid transparent
                border-right 12px solid transparent
                border-bottom 12px solid white
                position absolute
                top -10px
                left 40%
            ul
                opacity 0
                z-index 0
                position absolute
                top 35px
                left -20px
                width 150px
                background white
                transition 0.3s ease all
                border-radius 4px
                box-shadow 0 10px 20px rgba(0,0,0,0.05)
                li
                    width 100%
                    text-align left
                    a
                        display block
                        padding 10px 15px
                        width 100%
                        color black

            &:hover
                ul
                    z-index 100
                    opacity 1
// #menu
//     display none
nav ul li
    a
        font-family f_lato
    ul
        margin-top 15px
        column-count inherit
        li
            margin 0px 0px 5px 0px
            a
                font-family f_lato
    .submenu
        box-shadow 0 5px 10px rgba(0,0,0,0.05)

#footer
    padding 2em 0

    .service_client
        margin-top 15px
        margin-bottom 0
        li
            margin-bottom 5px
            a
                cursor pointer
// form
.pages
    padding-left 50px
    padding-right 50px
    padding-bottom 30px
    padding-top 30px
    &__title
        font-size  36px
        margin-top 20px
        text-align center
    &__content
        margin-top 20px
.form-control
    border-radius 4px
.item-car .item
    margin-right 5px
    a
        display block


@media (min-width: 768px)
    #menu
        display none
@media (max-width: 650px)
    .pages
        padding-left 15px
        padding-right 15px
        padding-bottom 10px
        padding-top 10px
    .col-tbl-12
        width 100%
@media (max-width: 480px)

    .col-mv
        width 100%
    #footer
        text-align center
        .block-list .logo
            margin auto

        .block-list .w-form
            margin auto