.home-slick

    &__item
        width 100%
        height 360px
        display block
        background-size cover
        background-repeat no-repeat
        background-position center center

@media (max-width: 768px)
    .home-slick
        &__item
            height 300px

@media (max-width: 480px)
    .home-slick
        &__item
            height 240px