.item-result
    .image
        background white
    .detail
        margin-top 10px
        h3.title
            font-size 16px
    .fav:hover
        i
            color #ff7e00

.w-filter
    input[type=range]::-ms-track {
        width: 300px;
        height: 5px;

        /*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
        background: transparent;

        /*leave room for the larger thumb to overflow with a transparent border */
        border-color: transparent;
        border-width: 6px 0;

        /*remove default tick marks*/
        color: transparent;
    }
    input[type=range]::-ms-fill-lower {
        background: #777;
        border-radius: 10px;
    }
    input[type=range]::-ms-fill-upper {
        background: #ddd;
        border-radius: 10px;
    }
    input[type=range]::-ms-thumb {
        border: none;
        height: 16px;
        width: 16px;
        border-radius: 50%;
        background: goldenrod;
    }
    input[type=range]:focus::-ms-fill-lower {
        background: #888;
    }
    input[type=range]:focus::-ms-fill-upper {
        background: #ccc;
    }
    // &__price
.product-banner
    height 360px
    width 100%
    background-repeat no-repeat
    background-size cover
    background-position center center
.detail-product
    .is-active
        border 1px solid color_main
.product_detail_vue
    &__content
        float right
    &__galery
        float left
// @media (max-width: 992px)
.product_detail
    .wrap-desc-info .tab-content .tab-pane
        padding 20px 10px
.product_search_nofound
    margin-top 40px
    height 180px
@media (max-width: 768px)
    // .detail-product
    //     margin-top 30px
    .product-banner
        height 300px
    .detail-product h2
        font-size 22px
    .product_detail_vue
        &__content
            float inherit
        &__galery
            float inherit
    .product_search_nofound
        height 100px
@media (max-width: 480px)
    .product-banner
        height 240px
    .product_search_nofound
        height 60px