.login_register{
    margin-top: 40px;
    &__content{
        max-width: 400px;
        margin:auto;
    }
    &__title{
        font-size: 26px;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 20px;
    }
    &__separation{
        height: 1px;
        width: 100%;
        background: $black;
        margin: 20px 0;
    }
    &__link{
        text-align: center;
        margin-top: 20px;
        margin-bottom: 40px;
        display: block;
    }
}