.preguntas_frecuentes{
    margin-top: 20px;
    &__row{
        display: flex;
        justify-content: space-between;
        &__col_block2{
            width: 300px;
            margin-left: 30px;
        }
    }
    &__title{
        font-size: 36px;
        text-transform: uppercase;
    }
    &__subtitle{
        margin-top: 20px;
        margin-bottom: 15px;
        font-size: 18px;
    }
    &__sidebar{
        border: 1px solid black;
        padding: 15px;
        a{
            color:black;
            &:hover{
                text-decoration: none;
                border-bottom:1px solid black;
            }
        }
        a.active{
            text-decoration: none;
            border-bottom:1px solid black;
        }
        &--account{
            margin-top: 46px;
        }
    }
}
.pedido{
    &__status{
        border: 1px solid $black;
        padding: 20px;
        &__title{
            font-size: 18px;
            margin-bottom: 10px;
        }
    }

    &__subtotal{
        margin-bottom: 10px;
        display: flex;
        justify-content: space-between;
        &__sub{
            font-size: 14px;
        }

    }
    a{
        text-align: center;
    }

}
.proceso_compra{
    &__title{
        margin-bottom: 20px;
        font-size: 24px;
    }
    &__back{
        color: $black;
        &:hover{
            text-decoration: underline;
        }
    }
}
@media screen and (max-width: 768px) {
   .preguntas_frecuentes{
        &__title{
            font-size: 20px;
        }
        &__row{
            flex-direction: column-reverse;
            &__col_block2{
                margin: 0;
                margin-top: 20px;
                width: 100%;
            }
        }
    }
}