{% extends "common/base.html" %}
{% load static thumbnail widget_tweaks %}
{% block css %}

{% endblock css %}
{% block content %}
<section class="main page-account">
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <div class="">
          <h2 class='page_account__title'>Información Personal</h2>
          <div class="pages__content">
            <div class="row">

              <div class="col-md-12">
                <form action="" method='POST' class='page-account__form'>
                  {% csrf_token %}
                  <div class="row form-group">
                    <div class="col-md-6">
                      {{form_user.first_name|add_class:'form-control'|attr:'placeholder:Nombres'}}
                      <p class='text-danger'>{{form_user.first_name.errors}}</p>
                    </div>
                    <div class="col-md-6">
                      {{form_user.last_name|add_class:'form-control'|attr:'placeholder:Apellidos'}}
                      <p class='text-danger'>{{form_user.last_name.errors}}</p>
                    </div>
                    <div class="col-md-6">
                      {{form_user.email|add_class:'form-control'|attr:'placeholder:Email'}}
                      <p class='text-danger'>{{form_user.email.errors}}</p>
                    </div>
                    <div class="col-md-6">
                      {{form_customer.type_document|add_class:'form-control'|attr:'placeholder:Tipo de Documento'}}
                      <p class='text-danger'>{{form_user.type_document.errors}}</p>
                    </div>
                    <div class="col-md-6">
                      {{form_customer.document|add_class:'form-control'|attr:'placeholder:Documento'}}
                      <p class='text-danger'>{{form_user.document.errors}}</p>
                    </div>
                    <div class="col-md-6">
                      {{form_customer.gender|add_class:'form-control'|attr:'placeholder:Genero'}}
                      <p class='text-danger'>{{form_user.gender.errors}}</p>
                    </div>
                    <div class="col-md-6">
                      {{form_customer.phone|add_class:'form-control'|attr:'placeholder:Teléfono'}}
                      <p class='text-danger'>{{form_user.phone.errors}}</p>
                    </div>

                  </div>
                  <div class="row">
                      <div class="col-md-12">
                        <button class='btn btn--dark pull-right'>Guardar</button>
                      </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 ">
        <div class="w-body">
          <div class="sidebar sidebar_account">
            <ul class='preguntas_frecuentes__sidebar preguntas_frecuentes__sidebar--account'>
              <li ><a href="{% url 'web_system:account' %}" class='active'>Información Personal
                 </a></li>
              <li><a href="{% url 'web_system:my_address' %}">Mis direcciones</a></li>
              <li><a href="{% url 'web_system:my_order' %}">Mis Ordenes</a></li>
            </ul>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
{% endblock content %}
{% block js %}

{% endblock js %}
