{% extends "common/base.html" %}
{% load static thumbnail widget_tweaks %}
{% block css %}

{% endblock css %}
{% block content %}
<section class="main login_register">
        <div class="container">
          <div class="login_register__content">
            <div class="login_register__title">
              <h2>Registro</h2>
            </div>
            <div class="w-body">
              <form action="" method='POST'>
                {% csrf_token %}
                <div class="form-group">

                  {{form_register.first_name|add_class:"form-control"|attr:"placeholder:Nombres"}}
                </div>
                <div class="form-group">
                  {{form_register.last_name|add_class:"form-control"|attr:"placeholder:Apellidos"}}
                </div>
                <div class="form-group">
                  {{form_register.email|add_class:"form-control"|attr:"placeholder:Email"}}
                </div>
                <div class="form-group">
                  {{form_register.password1|add_class:"form-control"|attr:"placeholder:Contraseña"}}
                  <div class="">
                      {{form_register.password1.help_text|safe}}
                  </div>
                </div>
                <div class="form-group">
                  {{form_register.password2|add_class:"form-control"|attr:"placeholder:Contraseña(Confirmada)"}}
                  <div class="">
                      {{form_register.password2.help_text|safe}}
                  </div>
                </div>
                <button type="submit" name="type_submit" value="{{REGISTER}}" class="btn btn-block btn--dark">Registrar</button>
              </form>

              <div class="login_register__separation "></div>
              <a href="{% url 'web_system:login_register' %}" class='btn btn-block btn--dark'>Ingresar</a>
            </div>
          </div>
        </div>
      </section>
{% endblock content %}
{% block js %}

{% endblock js %}
