{% extends "common/base.html" %}
{% load static thumbnail %}
{% block css %}

{% endblock css %}
{% block content %}

<section class="featured">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-xs-12 mt-20">
        <div class="home-slick">
          <a {% if home_banners.0.url %}href='{{home_banners.0.url}}'{% endif %} class="home-slick__item" style='background-image:url({{ home_banners.0.image.url }})'>
          </a>
          <a {% if home_banners.1.url %}href='{{home_banners.1.url}}'{% endif %} class="home-slick__item" style='background-image:url({{ home_banners.1.image.url }})'></a>
          <a {% if home_banners.2.url %}href='{{home_banners.2.url}}'{% endif %} class="home-slick__item" style='background-image:url({{ home_banners.2.image.url }})'>
          </a>
        </div>
      </div>
      <div class="col-md-6 col-xs-6 mt-20">
        <a {% if home_banners.3.url %}href='{{home_banners.3.url}}'{% endif %} class="home-slick__item" style='background-image:url({{ home_banners.3.image.url }})'>
        </a>
      </div>
      <div class="col-md-6 col-xs-6 mt-20">
        <a {% if home_banners.4.url %}href='{{home_banners.4.url}}'{% endif %} class="home-slick__item" style='background-image:url({{ home_banners.4.image.url }})'>
        </a>
      </div>
      <div class="col-md-12 col-xs-12 mt-20 mb-20">
        <a {% if home_banners.5.url %}href='{{home_banners.5.url}}'{% endif %} class="home-slick__item" style='background-image:url({{ home_banners.5.image.url }})'>
        </a>
      </div>
    </div>
  </div>

</section>
{% comment %}

<section class="main">
  <div class="container">
    <div class="row">
      {% for influencer in influencers %}
        <div class="col-md-3 col-sm-6 col-xs-6 col-mv">
          <a href="{% url 'web_product:influencer_products' influencer.slug %}" class="box item-influencer">
            <div class="image">
              {% thumbnail influencer.image "350x350" crop="center" as im %}
                <img src="{{ im.url }}"  height="{{ im.height }}">
              {% endthumbnail %}
            </div>
            <div class="detail">
              <h3 class="title">{{influencer.name}}</h3>
            </div>
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
</section>

{% endcomment %}
{% endblock content %}
{% block js %}
<script>
jQuery(document).ready(function($) {
    $(".home-slick").slick({
      infinite: true,
      slidesToShow: 1,
      slidesToScroll: 1,
      prevArrow: '<i class="slick-prev fas fa-angle-left"></i>',
      nextArrow: '<i class="slick-next fas fa-angle-right"></i>'
    });
});
</script>

{% endblock js %}
