{% extends "common/base.html" %}
{% load static thumbnail widget_tweaks %}
{% block css %}

{% endblock css %}
{% block content %}
<section class="main login_register">
        <div class="container">
          <div class="login_register__content">
            <div class="login_register__title">
              <h2>Ingresar</h2>
            </div>
            <div class="w-body">
              <form action="" method='POST'>
                {% csrf_token %}
                <div class="form-group">

                  {{form_login.username|add_class:"form-control"|attr:"placeholder:Email"}}
                  <div class="form-group__errors">
                      {{form_login.username.errors.as_text}}
                  </div>
                </div>
                <div class="form-group">
                  {{form_login.password|add_class:"form-control"|attr:"placeholder:Contraseña"}}
                  <div class="form-group__errors">
                      {{form_login.password.errors.as_text}}
                  </div>


                </div>
                <div class="form-group form-group--errors">
                    {{form_login.non_field_errors.as_text}}
                </div>
                {% comment %}

                <a href="{% url 'social:begin' 'facebook'%}?next={% url 'web_system:account' %}">Login with Facebook</a><br>
                <a href="{% url 'social:begin' 'instagram' %}?next={% url 'web_system:account' %}">Login with Instagram</a><br>
                {% endcomment %}

                <button type="submit" name="type_submit" value="{{LOGIN}}" class="btn btn--dark btn-block">Entrar</button>
              </form>
              <a href='' class="login_register__link link">¿Olvidaste tu contraseña?</a>
              <div class="login_register__separation "></div>
              <a href="{% url 'web_system:create_account' %}" class='btn btn-block btn--dark'>Crear una cuenta</a>
            </div>
            {% comment %}

            <div class="col-md-6">
              <div class="boxw box-registrate">
                <div class="title-page">
                  <h2>Crear una nueva cuenta</h2>
                </div>
                <div class="w-body">
                  <form action="" method='POST'>
                    {% csrf_token %}
                    <div class="form-group">
                      {{form_register.first_name.label_tag}}
                      {{form_register.first_name|add_class:"form-control"}}
                    </div>
                    <div class="form-group">
                      {{form_register.last_name.label_tag}}
                      {{form_register.last_name|add_class:"form-control"}}
                    </div>
                    <div class="form-group">
                      {{form_register.email.label_tag}}
                      {{form_register.email|add_class:"form-control"}}
                    </div>
                    <div class="form-group">
                      {{form_register.password1.label_tag}}
                      {{form_register.password1|add_class:"form-control"}}
                      <div class="">
                          {{form_register.password1.help_text|safe}}
                      </div>
                    </div>
                    <div class="form-group">
                      {{form_register.password2.label_tag}}
                      {{form_register.password2|add_class:"form-control"}}
                      <div class="">
                          {{form_register.password2.help_text|safe}}
                      </div>
                    </div>
                    <button type="submit" name="type_submit" value="{{REGISTER}}" class="btn btn-primary">Registrar</button>
                  </form>
                </div>
              </div>
            </div>
            {% endcomment %}
          </div>
        </div>
      </section>
{% endblock content %}
{% block js %}

{% endblock js %}
