{% extends "common/base.html" %}
{% load static thumbnail widget_tweaks %}
{% block css %}

{% endblock css %}
{% block content %}
<section class="main page-account">
  <div class="container">
    <div class="row">
    {% comment %}

      <div class="col-md-3 boxw">
        <div class="w-body">
          <div class="sidebar sidebar_account">
            <h3>Bienvenido</h3>
            <ul class='sidebar_account__info'>
              <li><a href="{% url 'web_system:account' %}">Información Personal
                 </a></li>
              <li><a href="{% url 'web_system:my_address' %}">Mis direcciones</a></li>
              <li><a href="{% url 'web_system:my_order' %}">Mis Ordenes</a></li>
            </ul>
          </div>
        </div>
      </div>
    {% endcomment %}
      <div class="col-md-10 col-md-offset-1">
        <div class="">
          <div class="page_account__title">
            Mi dirección
          </div>
          <div class="pages__content">
            <div class="row">
              <div class="col-md-12">
                <form action="" method='POST' class='page-account__form'>
                  {% csrf_token %}
                  <div class="row form-group">
                    <div class="col-md-6">
                      {{form.first_name.label_tag}}
                      {{form.first_name|add_class:'form-control'}}
                      <p class='text-danger'>{{form.first_name.errors}}</p>
                    </div>
                    <div class="col-md-6">
                      {{form.last_name.label_tag}}
                      {{form.last_name|add_class:'form-control'}}
                      <p class='text-danger'>{{form.last_name.errors}}</p>
                    </div>

                    <div class="col-md-6">
                      {{form.type_document.label_tag}}
                      {{form.type_document|add_class:'form-control'}}
                      <p class='text-danger'>{{form.email.errors}}</p>
                    </div>
                    <div class="col-md-6">
                      {{form.document.label_tag}}
                      {{form.document|add_class:'form-control'}}
                      <p class='text-danger'>{{form.document.errors}}</p>
                    </div>
                    <div class="col-md-6">
                      {{form.phone.label_tag}}
                      {{form.phone|add_class:'form-control'}}
                      <p class='text-danger'>{{form.phone.errors}}</p>
                    </div>
                    <div class="col-md-6">
                      {{form.address.label_tag}}
                      {{form.address|add_class:'form-control'}}
                      <p class='text-danger'>{{form.address.errors}}</p>
                    </div>
                    <div class="col-md-6">
                      {{form.reference.label_tag}}
                      {{form.reference|add_class:'form-control'}}
                      <p class='text-danger'>{{form.reference.errors}}</p>
                    </div>
                    <div class="col-md-6">
                      {{form.type_address.label_tag}}
                      {{form.type_address|add_class:'form-control'}}
                      <p class='text-danger'>{{form.type_address.errors}}</p>
                    </div>
                    <div class="col-md-6">
                      <label for="">Departamento</label>
                      <select class="form-control" id='id_shipping-departamento'
                      name="departamento" >
                        <option value="">Seleccione Departamento</option>
                      </select>
                      <p></p>
                    </div>
                    <div class="col-md-6">
                      <label for="">Provincia</label>
                      <select class="form-control" name="provincia" id="id_shipping-provincia">
                        <option value="">Seleccione Provincia</option>
                      </select>
                      <p></p>
                    </div>
                    <div class="col-md-6">
                      <label for="">Distrito</label>
                      {{form.ubigeo|add_class:'form-control'}}
                      <p class='text-danger'>{{form.ubigeo.errors}}</p>
                    </div>
                  </div>
                  <div class="row">
                      <div class="col-md-12">
                         <button class='btn btn--dark pull-right'>Guardar</button>
                      </div>
                  </div>

                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}
{% block js %}
<script>
  jQuery(document).ready(function($) {
    var departamento_initial = $('#id_shipping-departamento')
    departamento_initial.html('')
    var code_departamento = '{{code_departamento}}'
    var code_provincia = '{{code_provincia}}'
    var code_distrito = '{{code_distrito}}'
    $.ajax({
        'url': '{% url "ubigeo:api_departamentos" %}',
        'method': 'GET',
        'success': function (data) {
            departamento_initial.append('<option value="" selected="selected">Seleccione Departamento</option>');
            for (var i = 0; i < data.departamentos.length; i++) {
              if (code_departamento == data.departamentos[i].codigo) {
                departamento_initial.append('<option selected="selected" value="' + data.departamentos[i].codigo + '">' + data.departamentos[i].descripcion + '</option>');
              } else {
                departamento_initial.append('<option value="' + data.departamentos[i].codigo + '">' + data.departamentos[i].descripcion + '</option>');
              }
            }
            if (code_departamento) {
              $('#id_shipping-departamento').trigger('change')
            }
            // provincia.change();
        }
    })
    $('#id_shipping-departamento').change(function(event) {
    /* Act on the event */
      var departamento = $(this).val();
      var provincia = $('#id_shipping-provincia')
      var distrito = $('#id_ubigeo')
      provincia.html('');
      distrito.html('');
      if (departamento) {
        $.ajax({
              'url': '{% url "ubigeo:api_provincias" %}' + '?departamento=' + departamento,
              'method': 'GET',
              'success': function (data) {
                  provincia.append('<option value="" selected="selected">Seleccione Provincia</option>');
                  for (var i = 0; i < data.provincias.length; i++) {
                    if (code_provincia == data.provincias[i].codigo) {
                      provincia.append('<option  selected="selected" value="' + data.provincias[i].codigo + '">' + data.provincias[i].descripcion + '</option>');
                    } else {
                      provincia.append('<option value="' + data.provincias[i].codigo + '">' + data.provincias[i].descripcion + '</option>');
                    }
                  }
                  if (code_provincia) {
                    $('#id_shipping-provincia').trigger('change')
                  }
                  // provincia.change();
              }
          })
      } else {
        provincia.append('<option value="" selected="selected">Seleccione Provincia</option>');
        distrito.append('<option value="" selected="selected">Seleccione Distrito</option>');
        code_provincia = ''
      }


    });
    $('#id_shipping-provincia').change(function(event) {
    /* Act on the event */
      var provincia = $(this).val();
      var distrito = $('#id_ubigeo')
      distrito.html('');
      $.ajax({
            'url': '{% url "ubigeo:api_distritos" %}' + '?provincia=' + provincia,
            'method': 'GET',
            'success': function (data) {
                distrito.append('<option value="" selected="selected">Seleccione Distrito</option>');
                for (var i = 0; i < data.distritos.length; i++) {
                  if (code_distrito == data.distritos[i].pk) {
                    distrito.append('<option selected="selected" value="' + data.distritos[i].pk + '">' + data.distritos[i].descripcion + '</option>');
                  } else {
                    distrito.append('<option value="' + data.distritos[i].pk + '">' + data.distritos[i].descripcion + '</option>');
                  }
                }
                code_distrito = ''
                // provincia.change();
            }
        })


    });
  });
</script>
{% endblock js %}
