{% extends "common/base.html" %}
{% load static thumbnail widget_tweaks %}
{% block css %}

{% endblock css %}
{% block content %}
<section class="main page-account">
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <div class="">
          <h2 class='page_account__title'>Mis Ordenes</h2>
          <div class="pages__content">
            <div class="row">
              {% for order in orders %}
              <div class="col-md-12">
                <div class="content_address">
                  <a href='{% url "web_system:my_order_detail" order.pk %}' class="">
                    <strong>{{order.get_type_status_display}} -   {{order.code}} </strong>
                    <p>total: {{order.total}}</p>
                  </a>
                </div>

              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 ">
        <div class="w-body">
          <div class="sidebar sidebar_account">
            <ul class='preguntas_frecuentes__sidebar preguntas_frecuentes__sidebar--account'>
              <li><a href="{% url 'web_system:account' %}">Información Personal
                 </a></li>
              <li><a href="{% url 'web_system:my_address' %}">Mis direcciones</a></li>
              <li><a class='active' href="{% url 'web_system:my_order' %}">Mis Ordenes</a></li>
            </ul>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
{% endblock content %}
{% block js %}

{% endblock js %}
